In [1]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from ipython_helpers import (
    print_full
)
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
%matplotlib inline
import readline
from IPython.display import display

In [2]:
GLOBAL_INPUT_VARIABLES = [
    'CASHMTA_win',
    'EXRET_AVG_win',
    'MB_win',
    'NIMTA_AVG_win',
    'RSIZE_win', 
    'PRICE_win',
    'SIGMA_win', 
    'TLMTA_win'    
]

def transform_data(df):
    if 'Unnamed: 0' in df:
        del df['Unnamed: 0']
    
    return df

    
def get_num_of_bankruptcy_df(df):
    df = df.drop_duplicates(subset=['PERMNO'], keep='first')
    bankruptcy_df = df[df['is_bankrupt'] == True]
    num_of_bankruptcy_series = bankruptcy_df.groupby(by=['deletion_year']).count()['is_bankrupt']
    num_of_bankruptcy_df = pd.DataFrame(num_of_bankruptcy_series)
    num_of_bankruptcy_df.rename(columns={'is_bankrupt': 'Bankruptcies'}, inplace=True)
    num_of_bankruptcy_df.index = num_of_bankruptcy_df.index.astype(np.int32)

    return num_of_bankruptcy_df
    
    
def get_num_of_active_firms_df(df):  
    df = df.drop_duplicates(subset=['PERMNO', 'year'], keep='first')
    num_of_active_firms_series = df.groupby(by=['year']).count()['PERMNO']
    num_of_active_firms_df = pd.DataFrame(num_of_active_firms_series)
    num_of_active_firms_df.rename(columns={'PERMNO': 'Active Firms'}, inplace=True)
    
    return num_of_active_firms_df


def get_firm_status_by_year(df):
    num_of_active_firms_df = get_num_of_active_firms_df(df)
    num_of_bankruptcy_df = get_num_of_bankruptcy_df(df)

    df = num_of_active_firms_df.merge(num_of_bankruptcy_df, how='left', left_index=True, right_index=True)
    df.reset_index(inplace=True)
    df.rename(
        columns={
            'year': 'Year',
        },
        inplace=True
    )
    df.reset_index(inplace=True)
    df['(%)'] =(df['Bankruptcies'] / df['Active Firms'] * 100).round(4)
    df = df[['Year', 'Active Firms', 'Bankruptcies', '(%)']]

    return df


def get_observations_by_columns(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]
    
    observations_by_columns_df = pd.DataFrame(input_df.count(axis=0), columns=['Num of Observatons'])
                                    
    return observations_by_columns_df    


def get_observations_by_num_of_vars(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]

    num_of_vars_df = pd.DataFrame(pd.DataFrame(input_df.count(axis=1), columns=['Num of Observations']))
    observations_by_num_of_vars_df = pd.DataFrame(num_of_vars_df['Num of Observations'].value_counts(), columns=['Num of Observations'])
    
    return observations_by_num_of_vars_df.sort_index(ascending=False)
        

def compute_months_diff(row):
    year_diff = row['deletion_year'] - row['year']
    months_diff = row['deletion_month'] - row['month']
    
    if year_diff > 0:
        return 12 * year_diff + months_diff 
    else:
        return months_diff 

    
def make_months_diff_df(df, find_closest=False):
    bankruptcy_df = df[df['is_bankrupt'] == True]
    bankruptcy_df = bankruptcy_df.sort_values(by=['PERMNO', 'year', 'month'])
    if find_closest:
        bankruptcy_df.drop_duplicates(subset=['PERMNO'], keep='last', inplace=True)

    bankruptcy_df.loc[:, 'months_diff'] = bankruptcy_df.apply(lambda x: compute_months_diff(x), axis=1)
    
    return bankruptcy_df 


def filter_months_diff_df(df, threshold_diff):

    closest_months_diff_df = make_months_diff_df(df, find_closest=True)
    large_months_diff_df = closest_months_diff_df[closest_months_diff_df['months_diff'] > threshold_diff]
    security_filter_1 = large_months_diff_df['PERMNO'].values

    months_diff_df = make_months_diff_df(df)
    small_months_diff_df = months_diff_df[months_diff_df['months_diff'] < threshold_diff]
    index_filter = small_months_diff_df.index 
    
    output_df = df[~df['PERMNO'].isin(security_filter_1)]
    output_df = output_df.drop(index_filter) 
    
    bankruptcy_list_all = output_df[output_df['is_bankrupt'] == True]['PERMNO'].unique()
    bankruptcy_list_specific = output_df[output_df['is_bankrupt_12'] == True]['PERMNO'].unique()
    diff_list = list(set(bankruptcy_list_all).symmetric_difference(set(bankruptcy_list_specific)))
    
    output_df = output_df[~output_df['PERMNO'].isin(diff_list)]
    
    return output_df
        
    
def plot_histogram_of_diff_in_dates(df):
    max_num = df['months_diff'].max() + 1
    df['months_diff'].hist(bins=max_num + 1, range=(0, max_num))

    return 
    
def get_complete_features(df):
    df = df.dropna(how='any', subset=GLOBAL_INPUT_VARIABLES)
    
    return df


def filter_year_df(df, start_year=1970, end_year=2015):
    return df[(df['year'] >= start_year) & (df['year'] <= end_year)]


def make_train_and_test_df(df, threshold_year=2005):
    train_df = df[df['year'] <= threshold_year]
    test_df = df[df['year'] > threshold_year]
    
    return train_df, test_df


def get_num_of_bankruptcies(df):
    return len(df[df['is_bankrupt'] == True]['PERMNO'].unique())


def remove_bankrupt_observations_with_missing_12_months(df):
    """Remove observations where "is_bankrupt" is marked as True
    but "is_bankrupt_within_12" is marked as False.
    This removal is necessary because while the bankrupt observations have
    features that are indicative of bankrupcy, the False mark for "is_bankrupt_within_12"
    would confuse the model.
    """
    bankrupty_df = df[df['is_bankrupt'] == True]
    all_list = bankruptcy_df['PERMNO'].unique()
    available_list = bankruptcy_df[bankruptcy_df['is_bankrupt_within_12']]['PERMNO'].unique()
    missing_list = list(set(all_list).symmetric_difference(set(available_list)))
    
    return df[~df['PERMNO'].isin(missing_list)]

In [3]:
original_df = pd.read_csv("../../../../Development/econ985/campbell_data/simple_quarterly_campbell_df_36.csv", parse_dates=['datadate', 'lagged_date', 'dldte'])

In [4]:
transformed_df = transform_data(original_df)

In [5]:
transformed_df.shape

(803256, 20)

In [6]:
get_firm_status_by_year(transformed_df)

    Year  Active Firms  Bankruptcies     (%)
0   1961            40           NaN     NaN
1   1962           502           NaN     NaN
2   1963           549           NaN     NaN
3   1964           595           NaN     NaN
4   1965           653           NaN     NaN
5   1966          1391           NaN     NaN
6   1967          1493           NaN     NaN
7   1968          1652           NaN     NaN
8   1969          1804           NaN     NaN
9   1970          1913           1.0  0.0523
10  1971          2009           5.0  0.2489
11  1972          2108           3.0  0.1423
12  1973          2465           7.0  0.2840
13  1974          2476           5.0  0.2019
14  1975          2477           6.0  0.2422
15  1976          2455          12.0  0.4888
16  1977          2426           6.0  0.2473
17  1978          2363          13.0  0.5501
18  1979          2315          14.0  0.6048
19  1980          2261          13.0  0.5750
20  1981          3701           7.0  0.1891
21  1982          4167          12.0  0.2880
22  1983          4522          13.0  0.2875
23  1984          4812          14.0  0.2909
24  1985          4851          24.0  0.4947
25  1986          5036          67.0  1.3304
26  1987          5284          29.0  0.5488
27  1988          5229          43.0  0.8223
28  1989          5036          43.0  0.8539
29  1990          4949          14.0  0.2829
30  1991          4904          55.0  1.1215
31  1992          5137          50.0  0.9733
32  1993          5412          79.0  1.4597
33  1994          5897          55.0  0.9327
34  1995          6148          39.0  0.6344
35  1996          6624          40.0  0.6039
36  1997          6929          38.0  0.5484
37  1998          6908          49.0  0.7093
38  1999          6578          55.0  0.8361
39  2000          6478          92.0  1.4202
40  2001          5926          52.0  0.8775
41  2002          5327          30.0  0.5632
42  2003          4906          21.0  0.4280
43  2004          4726          23.0  0.4867
44  2005          4729          16.0  0.3383
45  2006          4605          13.0  0.2823
46  2007          4583           6.0  0.1309
47  2008          4314           8.0  0.1854
48  2009          4046          25.0  0.6179
49  2010          3972          18.0  0.4532
50  2011          3884          25.0  0.6437
51  2012          3800          21.0  0.5526
52  2013          3793          18.0  0.4746
53  2014          3935          12.0  0.3050
54  2015          4015          12.0  0.2989
55  2016          3930          12.0  0.3053
56  2017           129           NaN     NaN

In [7]:
filtered_year_df = filter_year_df(transformed_df, start_year=1970, end_year=2015)
get_firm_status_by_year(filtered_year_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970          1913           NaN     NaN
1   1971          2009           NaN     NaN
2   1972          2108           NaN     NaN
3   1973          2465           7.0  0.2840
4   1974          2476           4.0  0.1616
5   1975          2477           6.0  0.2422
6   1976          2455          12.0  0.4888
7   1977          2426           6.0  0.2473
8   1978          2363          13.0  0.5501
9   1979          2315          14.0  0.6048
10  1980          2261          13.0  0.5750
11  1981          3701           7.0  0.1891
12  1982          4167          12.0  0.2880
13  1983          4522          13.0  0.2875
14  1984          4812          14.0  0.2909
15  1985          4851          24.0  0.4947
16  1986          5036          67.0  1.3304
17  1987          5284          29.0  0.5488
18  1988          5229          43.0  0.8223
19  1989          5036          43.0  0.8539
20  1990          4949          14.0  0.2829
21  1991          4904          55.0  1.1215
22  1992          5137          50.0  0.9733
23  1993          5412          79.0  1.4597
24  1994          5897          55.0  0.9327
25  1995          6148          39.0  0.6344
26  1996          6624          40.0  0.6039
27  1997          6929          38.0  0.5484
28  1998          6908          49.0  0.7093
29  1999          6578          55.0  0.8361
30  2000          6478          92.0  1.4202
31  2001          5926          52.0  0.8775
32  2002          5327          30.0  0.5632
33  2003          4906          21.0  0.4280
34  2004          4726          23.0  0.4867
35  2005          4729          16.0  0.3383
36  2006          4605          13.0  0.2823
37  2007          4583           6.0  0.1309
38  2008          4314           8.0  0.1854
39  2009          4046          25.0  0.6179
40  2010          3972          18.0  0.4532
41  2011          3884          25.0  0.6437
42  2012          3800          21.0  0.5526
43  2013          3793          18.0  0.4746
44  2014          3935          12.0  0.3050
45  2015          4015          12.0  0.2989

In [8]:
complete_df = get_complete_features(filtered_year_df)

In [9]:
print(filtered_year_df.shape)
print(get_num_of_bankruptcies(filtered_year_df))
print(complete_df.shape)
print(get_num_of_bankruptcies(complete_df))

(756177, 20)
1217
(674978, 20)
1141

In [10]:
get_firm_status_by_year(complete_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970             1           NaN     NaN
1   1971           414           NaN     NaN
2   1972          1767           NaN     NaN
3   1973          2009           NaN     NaN
4   1974          2197           NaN     NaN
5   1975          2245           NaN     NaN
6   1976          2271           7.0  0.3082
7   1977          2390           6.0  0.2510
8   1978          2329          13.0  0.5582
9   1979          2266          14.0  0.6178
10  1980          2213          13.0  0.5874
11  1981          2392           7.0  0.2926
12  1982          3984          11.0  0.2761
13  1983          4347           9.0  0.2070
14  1984          4692           7.0  0.1492
15  1985          4693          22.0  0.4688
16  1986          4877          59.0  1.2098
17  1987          5092          29.0  0.5695
18  1988          5075          39.0  0.7685
19  1989          4892          38.0  0.7768
20  1990          4844          12.0  0.2477
21  1991          4755          53.0  1.1146
22  1992          5003          46.0  0.9194
23  1993          5244          77.0  1.4683
24  1994          5746          54.0  0.9398
25  1995          5995          38.0  0.6339
26  1996          6442          40.0  0.6209
27  1997          6761          38.0  0.5620
28  1998          6776          47.0  0.6936
29  1999          6395          54.0  0.8444
30  2000          6307          91.0  1.4428
31  2001          5797          49.0  0.8453
32  2002          5205          29.0  0.5572
33  2003          4779          20.0  0.4185
34  2004          4624          23.0  0.4974
35  2005          4637          16.0  0.3451
36  2006          4538          13.0  0.2865
37  2007          4531           6.0  0.1324
38  2008          4294           8.0  0.1863
39  2009          4015          24.0  0.5978
40  2010          3944          18.0  0.4564
41  2011          3860          25.0  0.6477
42  2012          3769          21.0  0.5572
43  2013          3725          18.0  0.4832
44  2014          3856          11.0  0.2853
45  2015          3953          12.0  0.3036

In [11]:
filtered_year_df1 = filter_year_df(complete_df, start_year=1976, end_year=2015)

In [12]:
get_firm_status_by_year(filtered_year_df1)

    Year  Active Firms  Bankruptcies     (%)
0   1976          2271           NaN     NaN
1   1977          2390           NaN     NaN
2   1978          2329           1.0  0.0429
3   1979          2266          13.0  0.5737
4   1980          2213          13.0  0.5874
5   1981          2392           7.0  0.2926
6   1982          3984          11.0  0.2761
7   1983          4347           9.0  0.2070
8   1984          4692           7.0  0.1492
9   1985          4693          22.0  0.4688
10  1986          4877          59.0  1.2098
11  1987          5092          29.0  0.5695
12  1988          5075          39.0  0.7685
13  1989          4892          38.0  0.7768
14  1990          4844          12.0  0.2477
15  1991          4755          53.0  1.1146
16  1992          5003          46.0  0.9194
17  1993          5244          77.0  1.4683
18  1994          5746          54.0  0.9398
19  1995          5995          38.0  0.6339
20  1996          6442          40.0  0.6209
21  1997          6761          38.0  0.5620
22  1998          6776          47.0  0.6936
23  1999          6395          54.0  0.8444
24  2000          6307          91.0  1.4428
25  2001          5797          49.0  0.8453
26  2002          5205          29.0  0.5572
27  2003          4779          20.0  0.4185
28  2004          4624          23.0  0.4974
29  2005          4637          16.0  0.3451
30  2006          4538          13.0  0.2865
31  2007          4531           6.0  0.1324
32  2008          4294           8.0  0.1863
33  2009          4015          24.0  0.5978
34  2010          3944          18.0  0.4564
35  2011          3860          25.0  0.6477
36  2012          3769          21.0  0.5572
37  2013          3725          18.0  0.4832
38  2014          3856          11.0  0.2853
39  2015          3953          12.0  0.3036

In [13]:
true_bankruptcy_df = filtered_year_df1[filtered_year_df1['is_bankrupt_within_36'] == True]
print(len(true_bankruptcy_df['PERMNO'].unique()))

872

In [14]:
filtered_year_df1.shape

(663357, 20)

In [15]:
train_df, test_df = make_train_and_test_df(filtered_year_df1)

# Save Data

In [16]:
train_df.to_csv("../../../../Development/econ985/campbell_data/train_df_quarterly_36.csv")
test_df.to_csv("../../../../Development/econ985/campbell_data/test_df_quarterly_36.csv")