In [4]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from ipython_helpers import (
    print_full
)
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
%matplotlib inline
import readline
from IPython.display import display

In [5]:
GLOBAL_INPUT_VARIABLES = [
    'CASHMTA_win',
    'EXRET_AVG_win',
    'MB_win',
    'NIMTA_AVG_win',
    'RSIZE_win', 
    'PRICE_win',
    'SIGMA_win', 
    'TLMTA_win'    
]

def transform_data(df):
    if 'Unnamed: 0' in df:
        del df['Unnamed: 0']
    
    return df

    
def get_num_of_bankruptcy_df(df):
    df = df.drop_duplicates(subset=['PERMNO'], keep='first')
    bankruptcy_df = df[df['is_bankrupt'] == True]
    num_of_bankruptcy_series = bankruptcy_df.groupby(by=['deletion_year']).count()['is_bankrupt']
    num_of_bankruptcy_df = pd.DataFrame(num_of_bankruptcy_series)
    num_of_bankruptcy_df.rename(columns={'is_bankrupt': 'Bankruptcies'}, inplace=True)
    num_of_bankruptcy_df.index = num_of_bankruptcy_df.index.astype(np.int32)

    return num_of_bankruptcy_df
    
    
def get_num_of_active_firms_df(df):  
    df = df.drop_duplicates(subset=['PERMNO', 'year'], keep='first')
    num_of_active_firms_series = df.groupby(by=['year']).count()['PERMNO']
    num_of_active_firms_df = pd.DataFrame(num_of_active_firms_series)
    num_of_active_firms_df.rename(columns={'PERMNO': 'Active Firms'}, inplace=True)
    
    return num_of_active_firms_df


def get_firm_status_by_year(df):
    num_of_active_firms_df = get_num_of_active_firms_df(df)
    num_of_bankruptcy_df = get_num_of_bankruptcy_df(df)

    df = num_of_active_firms_df.merge(num_of_bankruptcy_df, how='left', left_index=True, right_index=True)
    df.reset_index(inplace=True)
    df.rename(
        columns={
            'year': 'Year',
        },
        inplace=True
    )
    df.reset_index(inplace=True)
    df['(%)'] =(df['Bankruptcies'] / df['Active Firms'] * 100).round(4)
    df = df[['Year', 'Active Firms', 'Bankruptcies', '(%)']]

    return df


def get_observations_by_columns(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]
    
    observations_by_columns_df = pd.DataFrame(input_df.count(axis=0), columns=['Num of Observatons'])
                                    
    return observations_by_columns_df    


def get_observations_by_num_of_vars(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]

    num_of_vars_df = pd.DataFrame(pd.DataFrame(input_df.count(axis=1), columns=['Num of Observations']))
    observations_by_num_of_vars_df = pd.DataFrame(num_of_vars_df['Num of Observations'].value_counts(), columns=['Num of Observations'])
    
    return observations_by_num_of_vars_df.sort_index(ascending=False)
        

def compute_months_diff(row):
    year_diff = row['deletion_year'] - row['year']
    months_diff = row['deletion_month'] - row['month']
    
    if year_diff > 0:
        return 12 * year_diff + months_diff 
    else:
        return months_diff 

    
def make_months_diff_df(df, find_closest=False):
    bankruptcy_df = df[df['is_bankrupt'] == True]
    bankruptcy_df = bankruptcy_df.sort_values(by=['PERMNO', 'year', 'month'])
    if find_closest:
        bankruptcy_df.drop_duplicates(subset=['PERMNO'], keep='last', inplace=True)

    bankruptcy_df.loc[:, 'months_diff'] = bankruptcy_df.apply(lambda x: compute_months_diff(x), axis=1)
    
    return bankruptcy_df 


def filter_months_diff_df(df, threshold_diff):

    closest_months_diff_df = make_months_diff_df(df, find_closest=True)
    large_months_diff_df = closest_months_diff_df[closest_months_diff_df['months_diff'] > threshold_diff]
    security_filter_1 = large_months_diff_df['PERMNO'].values

    months_diff_df = make_months_diff_df(df)
    small_months_diff_df = months_diff_df[months_diff_df['months_diff'] < threshold_diff]
    index_filter = small_months_diff_df.index 
    
    output_df = df[~df['PERMNO'].isin(security_filter_1)]
    output_df = output_df.drop(index_filter) 
    
    bankruptcy_list_all = output_df[output_df['is_bankrupt'] == True]['PERMNO'].unique()
    bankruptcy_list_specific = output_df[output_df['is_bankrupt_12'] == True]['PERMNO'].unique()
    diff_list = list(set(bankruptcy_list_all).symmetric_difference(set(bankruptcy_list_specific)))
    
    output_df = output_df[~output_df['PERMNO'].isin(diff_list)]
    
    return output_df
        
    
def plot_histogram_of_diff_in_dates(df):
    max_num = df['months_diff'].max() + 1
    df['months_diff'].hist(bins=max_num + 1, range=(0, max_num))

    return 
    
def get_complete_features(df):
    df = df.dropna(how='any', subset=GLOBAL_INPUT_VARIABLES)
    
    return df


def filter_year_df(df, start_year=1970, end_year=2015):
    return df[(df['year'] >= start_year) & (df['year'] <= end_year)]


def make_train_and_test_df(df, threshold_year=2005):
    train_df = df[df['year'] <= threshold_year]
    test_df = df[df['year'] > threshold_year]
    
    return train_df, test_df


def get_num_of_bankruptcies(df):
    return len(df[df['is_bankrupt'] == True]['PERMNO'].unique())


def remove_bankrupt_observations_with_missing_12_months(df):
    """Remove observations where "is_bankrupt" is marked as True
    but "is_bankrupt_within_12" is marked as False.
    This removal is necessary because while the bankrupt observations have
    features that are indicative of bankrupcy, the False mark for "is_bankrupt_within_12"
    would confuse the model.
    """
    bankrupty_df = df[df['is_bankrupt'] == True]
    all_list = bankruptcy_df['PERMNO'].unique()
    available_list = bankruptcy_df[bankruptcy_df['is_bankrupt_within_12']]['PERMNO'].unique()
    missing_list = list(set(all_list).symmetric_difference(set(available_list)))
    
    return df[~df['PERMNO'].isin(missing_list)]

In [6]:
original_df = pd.read_csv("../../../../Development/econ985/campbell_data/simple_quarterly_campbell_df_12.csv", parse_dates=['datadate', 'lagged_date', 'dldte'])

In [7]:
transformed_df = transform_data(original_df)

In [8]:
transformed_df.shape

(808551, 20)

In [9]:
get_firm_status_by_year(transformed_df)

    Year  Active Firms  Bankruptcies     (%)
0   1961            40           NaN     NaN
1   1962           502           NaN     NaN
2   1963           549           NaN     NaN
3   1964           595           NaN     NaN
4   1965           653           NaN     NaN
5   1966          1391           NaN     NaN
6   1967          1493           NaN     NaN
7   1968          1652           NaN     NaN
8   1969          1807           NaN     NaN
9   1970          1922           1.0  0.0520
10  1971          2017           5.0  0.2479
11  1972          2117           3.0  0.1417
12  1973          2476           7.0  0.2827
13  1974          2490           5.0  0.2008
14  1975          2491           6.0  0.2409
15  1976          2474          12.0  0.4850
16  1977          2447           6.0  0.2452
17  1978          2389          13.0  0.5442
18  1979          2335          14.0  0.5996
19  1980          2275          13.0  0.5714
20  1981          3713           7.0  0.1885
21  1982          4179          12.0  0.2872
22  1983          4539          13.0  0.2864
23  1984          4874          14.0  0.2872
24  1985          4914          24.0  0.4884
25  1986          5089          67.0  1.3166
26  1987          5333          29.0  0.5438
27  1988          5265          43.0  0.8167
28  1989          5077          43.0  0.8470
29  1990          4997          14.0  0.2802
30  1991          4973          55.0  1.1060
31  1992          5174          50.0  0.9664
32  1993          5440          79.0  1.4522
33  1994          5930          55.0  0.9275
34  1995          6183          39.0  0.6308
35  1996          6667          40.0  0.6000
36  1997          6979          38.0  0.5445
37  1998          6987          49.0  0.7013
38  1999          6635          55.0  0.8289
39  2000          6508          92.0  1.4136
40  2001          5958          52.0  0.8728
41  2002          5347          30.0  0.5611
42  2003          4917          21.0  0.4271
43  2004          4737          23.0  0.4855
44  2005          4737          16.0  0.3378
45  2006          4612          13.0  0.2819
46  2007          4593           6.0  0.1306
47  2008          4335           8.0  0.1845
48  2009          4061          25.0  0.6156
49  2010          3987          18.0  0.4515
50  2011          3904          25.0  0.6404
51  2012          3815          21.0  0.5505
52  2013          3806          18.0  0.4729
53  2014          3947          12.0  0.3040
54  2015          4019          12.0  0.2986
55  2016          3930          12.0  0.3053
56  2017           129           NaN     NaN

In [10]:
filtered_year_df = filter_year_df(transformed_df, start_year=1970, end_year=2015)
get_firm_status_by_year(filtered_year_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970          1922             1  0.0520
1   1971          2017             5  0.2479
2   1972          2117             3  0.1417
3   1973          2476             7  0.2827
4   1974          2490             4  0.1606
5   1975          2491             6  0.2409
6   1976          2474            12  0.4850
7   1977          2447             6  0.2452
8   1978          2389            13  0.5442
9   1979          2335            14  0.5996
10  1980          2275            13  0.5714
11  1981          3713             7  0.1885
12  1982          4179            12  0.2872
13  1983          4539            13  0.2864
14  1984          4874            14  0.2872
15  1985          4914            24  0.4884
16  1986          5089            67  1.3166
17  1987          5333            29  0.5438
18  1988          5265            43  0.8167
19  1989          5077            43  0.8470
20  1990          4997            14  0.2802
21  1991          4973            55  1.1060
22  1992          5174            50  0.9664
23  1993          5440            79  1.4522
24  1994          5930            55  0.9275
25  1995          6183            39  0.6308
26  1996          6667            40  0.6000
27  1997          6979            38  0.5445
28  1998          6987            49  0.7013
29  1999          6635            55  0.8289
30  2000          6508            92  1.4136
31  2001          5958            52  0.8728
32  2002          5347            30  0.5611
33  2003          4917            21  0.4271
34  2004          4737            23  0.4855
35  2005          4737            16  0.3378
36  2006          4612            13  0.2819
37  2007          4593             6  0.1306
38  2008          4335             8  0.1845
39  2009          4061            25  0.6156
40  2010          3987            18  0.4515
41  2011          3904            25  0.6404
42  2012          3815            21  0.5505
43  2013          3806            18  0.4729
44  2014          3947            12  0.3040
45  2015          4019            12  0.2986

In [11]:
complete_df = get_complete_features(filtered_year_df)

In [12]:
print(filtered_year_df.shape)
print(get_num_of_bankruptcies(filtered_year_df))
print(complete_df.shape)
print(get_num_of_bankruptcies(complete_df))

(761441, 20)
1226
(679685, 20)
1192

In [13]:
get_firm_status_by_year(complete_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970             1           NaN     NaN
1   1971           414           NaN     NaN
2   1972          1767           NaN     NaN
3   1973          2010           NaN     NaN
4   1974          2203           NaN     NaN
5   1975          2259           NaN     NaN
6   1976          2289           9.0  0.3932
7   1977          2411           6.0  0.2489
8   1978          2355          13.0  0.5520
9   1979          2285          14.0  0.6127
10  1980          2227          13.0  0.5837
11  1981          2404           7.0  0.2912
12  1982          3999          11.0  0.2751
13  1983          4367          13.0  0.2977
14  1984          4757          13.0  0.2733
15  1985          4751          24.0  0.5052
16  1986          4931          67.0  1.3588
17  1987          5145          29.0  0.5637
18  1988          5111          42.0  0.8218
19  1989          4934          43.0  0.8715
20  1990          4892          14.0  0.2862
21  1991          4820          55.0  1.1411
22  1992          5036          48.0  0.9531
23  1993          5268          79.0  1.4996
24  1994          5778          55.0  0.9519
25  1995          6027          39.0  0.6471
26  1996          6484          40.0  0.6169
27  1997          6807          38.0  0.5582
28  1998          6852          49.0  0.7151
29  1999          6449          55.0  0.8528
30  2000          6339          92.0  1.4513
31  2001          5826          52.0  0.8926
32  2002          5225          30.0  0.5742
33  2003          4790          21.0  0.4384
34  2004          4634          23.0  0.4963
35  2005          4645          16.0  0.3445
36  2006          4545          13.0  0.2860
37  2007          4542           6.0  0.1321
38  2008          4315           8.0  0.1854
39  2009          4028          25.0  0.6207
40  2010          3959          18.0  0.4547
41  2011          3879          25.0  0.6445
42  2012          3784          21.0  0.5550
43  2013          3738          18.0  0.4815
44  2014          3867          12.0  0.3103
45  2015          3956          12.0  0.3033

In [14]:
filtered_year_df1 = filter_year_df(complete_df, start_year=1976, end_year=2015)

In [15]:
get_firm_status_by_year(filtered_year_df1)

    Year  Active Firms  Bankruptcies     (%)
0   1976          2289             1  0.0437
1   1977          2411             6  0.2489
2   1978          2355            12  0.5096
3   1979          2285            13  0.5689
4   1980          2227            13  0.5837
5   1981          2404             7  0.2912
6   1982          3999            11  0.2751
7   1983          4367            13  0.2977
8   1984          4757            13  0.2733
9   1985          4751            24  0.5052
10  1986          4931            67  1.3588
11  1987          5145            29  0.5637
12  1988          5111            42  0.8218
13  1989          4934            43  0.8715
14  1990          4892            14  0.2862
15  1991          4820            55  1.1411
16  1992          5036            48  0.9531
17  1993          5268            79  1.4996
18  1994          5778            55  0.9519
19  1995          6027            39  0.6471
20  1996          6484            40  0.6169
21  1997          6807            38  0.5582
22  1998          6852            49  0.7151
23  1999          6449            55  0.8528
24  2000          6339            92  1.4513
25  2001          5826            52  0.8926
26  2002          5225            30  0.5742
27  2003          4790            21  0.4384
28  2004          4634            23  0.4963
29  2005          4645            16  0.3445
30  2006          4545            13  0.2860
31  2007          4542             6  0.1321
32  2008          4315             8  0.1854
33  2009          4028            25  0.6207
34  2010          3959            18  0.4547
35  2011          3879            25  0.6445
36  2012          3784            21  0.5550
37  2013          3738            18  0.4815
38  2014          3867            12  0.3103
39  2015          3956            12  0.3033

In [16]:
true_bankruptcy_df = filtered_year_df1[filtered_year_df1['is_bankrupt_within_12'] == True]
print(len(true_bankruptcy_df['PERMNO'].unique()))

250

In [17]:
filtered_year_df1.shape

(668025, 20)

In [18]:
train_df, test_df = make_train_and_test_df(filtered_year_df1)

# Save Data

In [19]:
train_df.to_csv("../../../../Development/econ985/campbell_data/train_df_quarterly_12.csv")
test_df.to_csv("../../../../Development/econ985/campbell_data/test_df_quarterly_12.csv")