In [1]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from ipython_helpers import (
    print_full
)
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
%matplotlib inline
import readline
from IPython.display import display

In [2]:
GLOBAL_INPUT_VARIABLES = [
    'CASHMTA_win',
    'EXRET_AVG_win',
    'MB_win',
    'NIMTA_AVG_win',
    'RSIZE_win', 
    'PRICE_win',
    'SIGMA_win', 
    'TLMTA_win'    
]

def transform_data(df):
    if 'Unnamed: 0' in df:
        del df['Unnamed: 0']
    
    return df

    
def get_num_of_bankruptcy_df(df):
    df = df.drop_duplicates(subset=['PERMNO'], keep='first')
    bankruptcy_df = df[df['is_bankrupt'] == True]
    num_of_bankruptcy_series = bankruptcy_df.groupby(by=['deletion_year']).count()['is_bankrupt']
    num_of_bankruptcy_df = pd.DataFrame(num_of_bankruptcy_series)
    num_of_bankruptcy_df.rename(columns={'is_bankrupt': 'Bankruptcies'}, inplace=True)
    num_of_bankruptcy_df.index = num_of_bankruptcy_df.index.astype(np.int32)

    return num_of_bankruptcy_df
    
    
def get_num_of_active_firms_df(df):  
    df = df.drop_duplicates(subset=['PERMNO', 'year'], keep='first')
    num_of_active_firms_series = df.groupby(by=['year']).count()['PERMNO']
    num_of_active_firms_df = pd.DataFrame(num_of_active_firms_series)
    num_of_active_firms_df.rename(columns={'PERMNO': 'Active Firms'}, inplace=True)
    
    return num_of_active_firms_df


def get_firm_status_by_year(df):
    num_of_active_firms_df = get_num_of_active_firms_df(df)
    num_of_bankruptcy_df = get_num_of_bankruptcy_df(df)

    df = num_of_active_firms_df.merge(num_of_bankruptcy_df, how='left', left_index=True, right_index=True)
    df.reset_index(inplace=True)
    df.rename(
        columns={
            'year': 'Year',
        },
        inplace=True
    )
    df.reset_index(inplace=True)
    df['(%)'] =(df['Bankruptcies'] / df['Active Firms'] * 100).round(4)
    df = df[['Year', 'Active Firms', 'Bankruptcies', '(%)']]

    return df


def get_observations_by_columns(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]
    
    observations_by_columns_df = pd.DataFrame(input_df.count(axis=0), columns=['Num of Observatons'])
                                    
    return observations_by_columns_df    


def get_observations_by_num_of_vars(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]

    num_of_vars_df = pd.DataFrame(pd.DataFrame(input_df.count(axis=1), columns=['Num of Observations']))
    observations_by_num_of_vars_df = pd.DataFrame(num_of_vars_df['Num of Observations'].value_counts(), columns=['Num of Observations'])
    
    return observations_by_num_of_vars_df.sort_index(ascending=False)
        

def compute_months_diff(row):
    year_diff = row['deletion_year'] - row['year']
    months_diff = row['deletion_month'] - row['month']
    
    if year_diff > 0:
        return 12 * year_diff + months_diff 
    else:
        return months_diff 

    
def make_months_diff_df(df, find_closest=False):
    bankruptcy_df = df[df['is_bankrupt'] == True]
    bankruptcy_df = bankruptcy_df.sort_values(by=['PERMNO', 'year', 'month'])
    if find_closest:
        bankruptcy_df.drop_duplicates(subset=['PERMNO'], keep='last', inplace=True)

    bankruptcy_df.loc[:, 'months_diff'] = bankruptcy_df.apply(lambda x: compute_months_diff(x), axis=1)
    
    return bankruptcy_df 


def filter_months_diff_df(df, threshold_diff):

    closest_months_diff_df = make_months_diff_df(df, find_closest=True)
    large_months_diff_df = closest_months_diff_df[closest_months_diff_df['months_diff'] > threshold_diff]
    security_filter_1 = large_months_diff_df['PERMNO'].values

    months_diff_df = make_months_diff_df(df)
    small_months_diff_df = months_diff_df[months_diff_df['months_diff'] < threshold_diff]
    index_filter = small_months_diff_df.index 
    
    output_df = df[~df['PERMNO'].isin(security_filter_1)]
    output_df = output_df.drop(index_filter) 
    
    bankruptcy_list_all = output_df[output_df['is_bankrupt'] == True]['PERMNO'].unique()
    bankruptcy_list_specific = output_df[output_df['is_bankrupt_12'] == True]['PERMNO'].unique()
    diff_list = list(set(bankruptcy_list_all).symmetric_difference(set(bankruptcy_list_specific)))
    
    output_df = output_df[~output_df['PERMNO'].isin(diff_list)]
    
    return output_df
        
    
def plot_histogram_of_diff_in_dates(df):
    max_num = df['months_diff'].max() + 1
    df['months_diff'].hist(bins=max_num + 1, range=(0, max_num))

    return 
    
def get_complete_features(df):
    df = df.dropna(how='any', subset=GLOBAL_INPUT_VARIABLES)
    
    return df


def filter_year_df(df, start_year=1970, end_year=2015):
    return df[(df['year'] >= start_year) & (df['year'] <= end_year)]


def make_train_and_test_df(df, threshold_year=2005):
    train_df = df[df['year'] <= threshold_year]
    test_df = df[df['year'] > threshold_year]
    
    return train_df, test_df


def get_num_of_bankruptcies(df):
    return len(df[df['is_bankrupt'] == True]['PERMNO'].unique())


def remove_bankrupt_observations_with_missing_12_months(df):
    """Remove observations where "is_bankrupt" is marked as True
    but "is_bankrupt_within_12" is marked as False.
    This removal is necessary because while the bankrupt observations have
    features that are indicative of bankrupcy, the False mark for "is_bankrupt_within_12"
    would confuse the model.
    """
    bankrupty_df = df[df['is_bankrupt'] == True]
    all_list = bankruptcy_df['PERMNO'].unique()
    available_list = bankruptcy_df[bankruptcy_df['is_bankrupt_within_12']]['PERMNO'].unique()
    missing_list = list(set(all_list).symmetric_difference(set(available_list)))
    
    return df[~df['PERMNO'].isin(missing_list)]

In [3]:
original_df = pd.read_csv("../../../../Development/econ985/campbell_data/simple_quarterly_campbell_df_6.csv", parse_dates=['datadate', 'lagged_date', 'dldte'])

In [4]:
transformed_df = transform_data(original_df)

In [5]:
transformed_df.shape

(808988, 20)

In [6]:
get_firm_status_by_year(transformed_df)

    Year  Active Firms  Bankruptcies     (%)
0   1961            40           NaN     NaN
1   1962           502           NaN     NaN
2   1963           549           NaN     NaN
3   1964           595           NaN     NaN
4   1965           653           NaN     NaN
5   1966          1391           NaN     NaN
6   1967          1493           NaN     NaN
7   1968          1652           NaN     NaN
8   1969          1807           NaN     NaN
9   1970          1922           1.0  0.0520
10  1971          2017           5.0  0.2479
11  1972          2118           3.0  0.1416
12  1973          2476           7.0  0.2827
13  1974          2490           5.0  0.2008
14  1975          2493           6.0  0.2407
15  1976          2477          12.0  0.4845
16  1977          2450           6.0  0.2449
17  1978          2394          13.0  0.5430
18  1979          2339          14.0  0.5985
19  1980          2276          13.0  0.5712
20  1981          3718           7.0  0.1883
21  1982          4182          12.0  0.2869
22  1983          4542          13.0  0.2862
23  1984          4876          14.0  0.2871
24  1985          4918          24.0  0.4880
25  1986          5101          67.0  1.3135
26  1987          5338          29.0  0.5433
27  1988          5270          43.0  0.8159
28  1989          5081          43.0  0.8463
29  1990          4998          14.0  0.2801
30  1991          4973          55.0  1.1060
31  1992          5174          50.0  0.9664
32  1993          5440          79.0  1.4522
33  1994          5930          55.0  0.9275
34  1995          6183          39.0  0.6308
35  1996          6667          40.0  0.6000
36  1997          6980          38.0  0.5444
37  1998          6987          49.0  0.7013
38  1999          6636          55.0  0.8288
39  2000          6508          92.0  1.4136
40  2001          5961          52.0  0.8723
41  2002          5351          30.0  0.5606
42  2003          4920          21.0  0.4268
43  2004          4738          23.0  0.4854
44  2005          4738          16.0  0.3377
45  2006          4613          13.0  0.2818
46  2007          4594           6.0  0.1306
47  2008          4336           8.0  0.1845
48  2009          4068          25.0  0.6146
49  2010          3987          18.0  0.4515
50  2011          3905          25.0  0.6402
51  2012          3816          21.0  0.5503
52  2013          3808          18.0  0.4727
53  2014          3947          12.0  0.3040
54  2015          4021          12.0  0.2984
55  2016          3932          12.0  0.3052
56  2017           129           NaN     NaN

In [7]:
filtered_year_df = filter_year_df(transformed_df, start_year=1970, end_year=2015)
get_firm_status_by_year(filtered_year_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970          1922             1  0.0520
1   1971          2017             5  0.2479
2   1972          2118             3  0.1416
3   1973          2476             7  0.2827
4   1974          2490             4  0.1606
5   1975          2493             6  0.2407
6   1976          2477            12  0.4845
7   1977          2450             6  0.2449
8   1978          2394            13  0.5430
9   1979          2339            14  0.5985
10  1980          2276            13  0.5712
11  1981          3718             7  0.1883
12  1982          4182            12  0.2869
13  1983          4542            13  0.2862
14  1984          4876            14  0.2871
15  1985          4918            24  0.4880
16  1986          5101            67  1.3135
17  1987          5338            29  0.5433
18  1988          5270            43  0.8159
19  1989          5081            43  0.8463
20  1990          4998            14  0.2801
21  1991          4973            55  1.1060
22  1992          5174            50  0.9664
23  1993          5440            79  1.4522
24  1994          5930            55  0.9275
25  1995          6183            39  0.6308
26  1996          6667            40  0.6000
27  1997          6980            38  0.5444
28  1998          6987            49  0.7013
29  1999          6636            55  0.8288
30  2000          6508            92  1.4136
31  2001          5961            52  0.8723
32  2002          5351            30  0.5606
33  2003          4920            21  0.4268
34  2004          4738            23  0.4854
35  2005          4738            16  0.3377
36  2006          4613            13  0.2818
37  2007          4594             6  0.1306
38  2008          4336             8  0.1845
39  2009          4068            25  0.6146
40  2010          3987            18  0.4515
41  2011          3905            25  0.6402
42  2012          3816            21  0.5503
43  2013          3808            18  0.4727
44  2014          3947            12  0.3040
45  2015          4021            12  0.2984

In [8]:
complete_df = get_complete_features(filtered_year_df)

In [9]:
print(filtered_year_df.shape)
print(get_num_of_bankruptcies(filtered_year_df))
print(complete_df.shape)
print(get_num_of_bankruptcies(complete_df))

(761876, 20)
1226
(680042, 20)
1194

In [10]:
get_firm_status_by_year(complete_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970             1           NaN     NaN
1   1971           414           NaN     NaN
2   1972          1767           NaN     NaN
3   1973          2010           NaN     NaN
4   1974          2203           NaN     NaN
5   1975          2259           NaN     NaN
6   1976          2290           9.0  0.3930
7   1977          2414           6.0  0.2486
8   1978          2359          13.0  0.5511
9   1979          2289          14.0  0.6116
10  1980          2228          13.0  0.5835
11  1981          2409           7.0  0.2906
12  1982          4002          12.0  0.2999
13  1983          4370          13.0  0.2975
14  1984          4758          13.0  0.2732
15  1985          4755          24.0  0.5047
16  1986          4942          67.0  1.3557
17  1987          5151          29.0  0.5630
18  1988          5116          43.0  0.8405
19  1989          4937          43.0  0.8710
20  1990          4893          14.0  0.2861
21  1991          4820          55.0  1.1411
22  1992          5036          48.0  0.9531
23  1993          5268          79.0  1.4996
24  1994          5778          55.0  0.9519
25  1995          6027          39.0  0.6471
26  1996          6484          40.0  0.6169
27  1997          6808          38.0  0.5582
28  1998          6852          49.0  0.7151
29  1999          6450          55.0  0.8527
30  2000          6339          92.0  1.4513
31  2001          5828          52.0  0.8922
32  2002          5229          30.0  0.5737
33  2003          4793          21.0  0.4381
34  2004          4635          23.0  0.4962
35  2005          4646          16.0  0.3444
36  2006          4546          13.0  0.2860
37  2007          4543           6.0  0.1321
38  2008          4316           8.0  0.1854
39  2009          4035          25.0  0.6196
40  2010          3959          18.0  0.4547
41  2011          3880          25.0  0.6443
42  2012          3785          21.0  0.5548
43  2013          3740          18.0  0.4813
44  2014          3867          12.0  0.3103
45  2015          3957          12.0  0.3033

In [11]:
filtered_year_df1 = filter_year_df(complete_df, start_year=1976, end_year=2015)

In [12]:
get_firm_status_by_year(filtered_year_df1)

    Year  Active Firms  Bankruptcies     (%)
0   1976          2290             2  0.0873
1   1977          2414             6  0.2486
2   1978          2359            12  0.5087
3   1979          2289            13  0.5679
4   1980          2228            13  0.5835
5   1981          2409             7  0.2906
6   1982          4002            12  0.2999
7   1983          4370            13  0.2975
8   1984          4758            13  0.2732
9   1985          4755            24  0.5047
10  1986          4942            67  1.3557
11  1987          5151            29  0.5630
12  1988          5116            43  0.8405
13  1989          4937            43  0.8710
14  1990          4893            14  0.2861
15  1991          4820            55  1.1411
16  1992          5036            48  0.9531
17  1993          5268            79  1.4996
18  1994          5778            55  0.9519
19  1995          6027            39  0.6471
20  1996          6484            40  0.6169
21  1997          6808            38  0.5582
22  1998          6852            49  0.7151
23  1999          6450            55  0.8527
24  2000          6339            92  1.4513
25  2001          5828            52  0.8922
26  2002          5229            30  0.5737
27  2003          4793            21  0.4381
28  2004          4635            23  0.4962
29  2005          4646            16  0.3444
30  2006          4546            13  0.2860
31  2007          4543             6  0.1321
32  2008          4316             8  0.1854
33  2009          4035            25  0.6196
34  2010          3959            18  0.4547
35  2011          3880            25  0.6443
36  2012          3785            21  0.5548
37  2013          3740            18  0.4813
38  2014          3867            12  0.3103
39  2015          3957            12  0.3033

In [13]:
true_bankruptcy_df = filtered_year_df1[filtered_year_df1['is_bankrupt_within_6'] == True]
print(len(true_bankruptcy_df['PERMNO'].unique()))

154

In [14]:
filtered_year_df1.shape

(668382, 20)

In [15]:
train_df, test_df = make_train_and_test_df(filtered_year_df1)

# Save Data

In [16]:
train_df.to_csv("../../../../Development/econ985/campbell_data/train_df_quarterly_6.csv")
test_df.to_csv("../../../../Development/econ985/campbell_data/test_df_quarterly_6.csv")