In [1]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from ipython_helpers import (
    print_full
)
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
%matplotlib inline
import readline
from IPython.display import display

In [2]:
GLOBAL_INPUT_VARIABLES = [
    'CASHMTA_win',
    'EXRET_AVG_win',
    'MB_win',
    'NIMTA_AVG_win',
    'RSIZE_win', 
    'PRICE_win',
    'SIGMA_win', 
    'TLMTA_win'    
]

def transform_data(df):
    if 'Unnamed: 0' in df:
        del df['Unnamed: 0']
    
    return df

    
def get_num_of_bankruptcy_df(df):
    df = df.drop_duplicates(subset=['PERMNO'], keep='first')
    bankruptcy_df = df[df['is_bankrupt'] == True]
    num_of_bankruptcy_series = bankruptcy_df.groupby(by=['deletion_year']).count()['is_bankrupt']
    num_of_bankruptcy_df = pd.DataFrame(num_of_bankruptcy_series)
    num_of_bankruptcy_df.rename(columns={'is_bankrupt': 'Bankruptcies'}, inplace=True)
    num_of_bankruptcy_df.index = num_of_bankruptcy_df.index.astype(np.int32)

    return num_of_bankruptcy_df
    
    
def get_num_of_active_firms_df(df):  
    df = df.drop_duplicates(subset=['PERMNO', 'year'], keep='first')
    num_of_active_firms_series = df.groupby(by=['year']).count()['PERMNO']
    num_of_active_firms_df = pd.DataFrame(num_of_active_firms_series)
    num_of_active_firms_df.rename(columns={'PERMNO': 'Active Firms'}, inplace=True)
    
    return num_of_active_firms_df


def get_firm_status_by_year(df):
    num_of_active_firms_df = get_num_of_active_firms_df(df)
    num_of_bankruptcy_df = get_num_of_bankruptcy_df(df)

    df = num_of_active_firms_df.merge(num_of_bankruptcy_df, how='left', left_index=True, right_index=True)
    df.reset_index(inplace=True)
    df.rename(
        columns={
            'year': 'Year',
        },
        inplace=True
    )
    df.reset_index(inplace=True)
    df['(%)'] =(df['Bankruptcies'] / df['Active Firms'] * 100).round(4)
    df = df[['Year', 'Active Firms', 'Bankruptcies', '(%)']]

    return df


def get_observations_by_columns(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]
    
    observations_by_columns_df = pd.DataFrame(input_df.count(axis=0), columns=['Num of Observatons'])
                                    
    return observations_by_columns_df    


def get_observations_by_num_of_vars(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]

    num_of_vars_df = pd.DataFrame(pd.DataFrame(input_df.count(axis=1), columns=['Num of Observations']))
    observations_by_num_of_vars_df = pd.DataFrame(num_of_vars_df['Num of Observations'].value_counts(), columns=['Num of Observations'])
    
    return observations_by_num_of_vars_df.sort_index(ascending=False)
        

def compute_months_diff(row):
    year_diff = row['deletion_year'] - row['year']
    months_diff = row['deletion_month'] - row['month']
    
    if year_diff > 0:
        return 12 * year_diff + months_diff 
    else:
        return months_diff 

    
def make_months_diff_df(df, find_closest=False):
    bankruptcy_df = df[df['is_bankrupt'] == True]
    bankruptcy_df = bankruptcy_df.sort_values(by=['PERMNO', 'year', 'month'])
    if find_closest:
        bankruptcy_df.drop_duplicates(subset=['PERMNO'], keep='last', inplace=True)

    bankruptcy_df.loc[:, 'months_diff'] = bankruptcy_df.apply(lambda x: compute_months_diff(x), axis=1)
    
    return bankruptcy_df 


def filter_months_diff_df(df, threshold_diff):

    closest_months_diff_df = make_months_diff_df(df, find_closest=True)
    large_months_diff_df = closest_months_diff_df[closest_months_diff_df['months_diff'] > threshold_diff]
    security_filter_1 = large_months_diff_df['PERMNO'].values

    months_diff_df = make_months_diff_df(df)
    small_months_diff_df = months_diff_df[months_diff_df['months_diff'] < threshold_diff]
    index_filter = small_months_diff_df.index 
    
    output_df = df[~df['PERMNO'].isin(security_filter_1)]
    output_df = output_df.drop(index_filter) 
    
    bankruptcy_list_all = output_df[output_df['is_bankrupt'] == True]['PERMNO'].unique()
    bankruptcy_list_specific = output_df[output_df['is_bankrupt_12'] == True]['PERMNO'].unique()
    diff_list = list(set(bankruptcy_list_all).symmetric_difference(set(bankruptcy_list_specific)))
    
    output_df = output_df[~output_df['PERMNO'].isin(diff_list)]
    
    return output_df
        
    
def plot_histogram_of_diff_in_dates(df):
    max_num = df['months_diff'].max() + 1
    df['months_diff'].hist(bins=max_num + 1, range=(0, max_num))

    return 
    
def get_complete_features(df):
    df = df.dropna(how='any', subset=GLOBAL_INPUT_VARIABLES)
    
    return df


def filter_year_df(df, start_year=1970, end_year=2015):
    return df[(df['year'] >= start_year) & (df['year'] <= end_year)]


def make_train_and_test_df(df, threshold_year=2005):
    train_df = df[df['year'] <= threshold_year]
    test_df = df[df['year'] > threshold_year]
    
    return train_df, test_df


def get_num_of_bankruptcies(df):
    return len(df[df['is_bankrupt'] == True]['PERMNO'].unique())


def remove_bankrupt_observations_with_missing_12_months(df):
    """Remove observations where "is_bankrupt" is marked as True
    but "is_bankrupt_within_12" is marked as False.
    This removal is necessary because while the bankrupt observations have
    features that are indicative of bankrupcy, the False mark for "is_bankrupt_within_12"
    would confuse the model.
    """
    bankrupty_df = df[df['is_bankrupt'] == True]
    all_list = bankruptcy_df['PERMNO'].unique()
    available_list = bankruptcy_df[bankruptcy_df['is_bankrupt_within_12']]['PERMNO'].unique()
    missing_list = list(set(all_list).symmetric_difference(set(available_list)))
    
    return df[~df['PERMNO'].isin(missing_list)]

In [3]:
original_df = pd.read_csv("../../../../Development/econ985/campbell_data/simple_quarterly_campbell_df_24.csv", parse_dates=['datadate', 'lagged_date', 'dldte'])

In [4]:
transformed_df = transform_data(original_df)

In [5]:
transformed_df.shape

(806531, 20)

In [6]:
get_firm_status_by_year(transformed_df)

    Year  Active Firms  Bankruptcies     (%)
0   1961            40           NaN     NaN
1   1962           502           NaN     NaN
2   1963           549           NaN     NaN
3   1964           595           NaN     NaN
4   1965           653           NaN     NaN
5   1966          1391           NaN     NaN
6   1967          1493           NaN     NaN
7   1968          1652           NaN     NaN
8   1969          1807           NaN     NaN
9   1970          1918           1.0  0.0521
10  1971          2014           5.0  0.2483
11  1972          2113           3.0  0.1420
12  1973          2471           7.0  0.2833
13  1974          2484           5.0  0.2013
14  1975          2486           6.0  0.2414
15  1976          2468          12.0  0.4862
16  1977          2437           6.0  0.2462
17  1978          2378          13.0  0.5467
18  1979          2321          14.0  0.6032
19  1980          2269          13.0  0.5729
20  1981          3707           7.0  0.1888
21  1982          4171          12.0  0.2877
22  1983          4534          13.0  0.2867
23  1984          4864          14.0  0.2878
24  1985          4877          24.0  0.4921
25  1986          5068          67.0  1.3220
26  1987          5313          29.0  0.5458
27  1988          5239          43.0  0.8208
28  1989          5069          43.0  0.8483
29  1990          4989          14.0  0.2806
30  1991          4962          55.0  1.1084
31  1992          5169          50.0  0.9673
32  1993          5436          79.0  1.4533
33  1994          5926          55.0  0.9281
34  1995          6171          39.0  0.6320
35  1996          6658          40.0  0.6008
36  1997          6959          38.0  0.5461
37  1998          6978          49.0  0.7022
38  1999          6618          55.0  0.8311
39  2000          6495          92.0  1.4165
40  2001          5944          52.0  0.8748
41  2002          5335          30.0  0.5623
42  2003          4912          21.0  0.4275
43  2004          4734          23.0  0.4858
44  2005          4732          16.0  0.3381
45  2006          4611          13.0  0.2819
46  2007          4590           6.0  0.1307
47  2008          4327           8.0  0.1849
48  2009          4053          25.0  0.6168
49  2010          3984          18.0  0.4518
50  2011          3896          25.0  0.6417
51  2012          3805          21.0  0.5519
52  2013          3800          18.0  0.4737
53  2014          3940          12.0  0.3046
54  2015          4015          12.0  0.2989
55  2016          3930          12.0  0.3053
56  2017           129           NaN     NaN

In [7]:
filtered_year_df = filter_year_df(transformed_df, start_year=1970, end_year=2015)
get_firm_status_by_year(filtered_year_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970          1918           NaN     NaN
1   1971          2014           2.0  0.0993
2   1972          2113           3.0  0.1420
3   1973          2471           7.0  0.2833
4   1974          2484           4.0  0.1610
5   1975          2486           6.0  0.2414
6   1976          2468          12.0  0.4862
7   1977          2437           6.0  0.2462
8   1978          2378          13.0  0.5467
9   1979          2321          14.0  0.6032
10  1980          2269          13.0  0.5729
11  1981          3707           7.0  0.1888
12  1982          4171          12.0  0.2877
13  1983          4534          13.0  0.2867
14  1984          4864          14.0  0.2878
15  1985          4877          24.0  0.4921
16  1986          5068          67.0  1.3220
17  1987          5313          29.0  0.5458
18  1988          5239          43.0  0.8208
19  1989          5069          43.0  0.8483
20  1990          4989          14.0  0.2806
21  1991          4962          55.0  1.1084
22  1992          5169          50.0  0.9673
23  1993          5436          79.0  1.4533
24  1994          5926          55.0  0.9281
25  1995          6171          39.0  0.6320
26  1996          6658          40.0  0.6008
27  1997          6959          38.0  0.5461
28  1998          6978          49.0  0.7022
29  1999          6618          55.0  0.8311
30  2000          6495          92.0  1.4165
31  2001          5944          52.0  0.8748
32  2002          5335          30.0  0.5623
33  2003          4912          21.0  0.4275
34  2004          4734          23.0  0.4858
35  2005          4732          16.0  0.3381
36  2006          4611          13.0  0.2819
37  2007          4590           6.0  0.1307
38  2008          4327           8.0  0.1849
39  2009          4053          25.0  0.6168
40  2010          3984          18.0  0.4518
41  2011          3896          25.0  0.6417
42  2012          3805          21.0  0.5519
43  2013          3800          18.0  0.4737
44  2014          3940          12.0  0.3046
45  2015          4015          12.0  0.2989

In [8]:
complete_df = get_complete_features(filtered_year_df)

In [9]:
print(filtered_year_df.shape)
print(get_num_of_bankruptcies(filtered_year_df))
print(complete_df.shape)
print(get_num_of_bankruptcies(complete_df))

(759429, 20)
1222
(677923, 20)
1172

In [10]:
get_firm_status_by_year(complete_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970             1           NaN     NaN
1   1971           414           NaN     NaN
2   1972          1767           NaN     NaN
3   1973          2010           NaN     NaN
4   1974          2202           NaN     NaN
5   1975          2254           NaN     NaN
6   1976          2283           9.0  0.3942
7   1977          2401           6.0  0.2499
8   1978          2344          13.0  0.5546
9   1979          2272          14.0  0.6162
10  1980          2221          13.0  0.5853
11  1981          2398           7.0  0.2919
12  1982          3991          11.0  0.2756
13  1983          4361           9.0  0.2064
14  1984          4746          12.0  0.2528
15  1985          4718          23.0  0.4875
16  1986          4910          66.0  1.3442
17  1987          5122          29.0  0.5662
18  1988          5087          41.0  0.8060
19  1989          4926          39.0  0.7917
20  1990          4883          13.0  0.2662
21  1991          4811          55.0  1.1432
22  1992          5030          47.0  0.9344
23  1993          5266          79.0  1.5002
24  1994          5774          55.0  0.9525
25  1995          6017          38.0  0.6315
26  1996          6477          40.0  0.6176
27  1997          6790          38.0  0.5596
28  1998          6842          49.0  0.7162
29  1999          6434          55.0  0.8548
30  2000          6325          91.0  1.4387
31  2001          5813          50.0  0.8601
32  2002          5213          29.0  0.5563
33  2003          4785          21.0  0.4389
34  2004          4631          23.0  0.4967
35  2005          4640          16.0  0.3448
36  2006          4544          13.0  0.2861
37  2007          4539           6.0  0.1322
38  2008          4307           8.0  0.1857
39  2009          4021          25.0  0.6217
40  2010          3957          18.0  0.4549
41  2011          3872          25.0  0.6457
42  2012          3774          21.0  0.5564
43  2013          3732          18.0  0.4823
44  2014          3861          11.0  0.2849
45  2015          3953          12.0  0.3036

In [11]:
filtered_year_df1 = filter_year_df(complete_df, start_year=1976, end_year=2015)

In [12]:
get_firm_status_by_year(filtered_year_df1)

    Year  Active Firms  Bankruptcies     (%)
0   1976          2283           NaN     NaN
1   1977          2401           1.0  0.0416
2   1978          2344          12.0  0.5119
3   1979          2272          13.0  0.5722
4   1980          2221          13.0  0.5853
5   1981          2398           7.0  0.2919
6   1982          3991          11.0  0.2756
7   1983          4361           9.0  0.2064
8   1984          4746          12.0  0.2528
9   1985          4718          23.0  0.4875
10  1986          4910          66.0  1.3442
11  1987          5122          29.0  0.5662
12  1988          5087          41.0  0.8060
13  1989          4926          39.0  0.7917
14  1990          4883          13.0  0.2662
15  1991          4811          55.0  1.1432
16  1992          5030          47.0  0.9344
17  1993          5266          79.0  1.5002
18  1994          5774          55.0  0.9525
19  1995          6017          38.0  0.6315
20  1996          6477          40.0  0.6176
21  1997          6790          38.0  0.5596
22  1998          6842          49.0  0.7162
23  1999          6434          55.0  0.8548
24  2000          6325          91.0  1.4387
25  2001          5813          50.0  0.8601
26  2002          5213          29.0  0.5563
27  2003          4785          21.0  0.4389
28  2004          4631          23.0  0.4967
29  2005          4640          16.0  0.3448
30  2006          4544          13.0  0.2861
31  2007          4539           6.0  0.1322
32  2008          4307           8.0  0.1857
33  2009          4021          25.0  0.6217
34  2010          3957          18.0  0.4549
35  2011          3872          25.0  0.6457
36  2012          3774          21.0  0.5564
37  2013          3732          18.0  0.4823
38  2014          3861          11.0  0.2849
39  2015          3953          12.0  0.3036

In [14]:
true_bankruptcy_df = filtered_year_df1[filtered_year_df1['is_bankrupt_within_24'] == True]
print(len(true_bankruptcy_df['PERMNO'].unique()))

738

In [15]:
filtered_year_df1.shape

(666272, 20)

In [16]:
train_df, test_df = make_train_and_test_df(filtered_year_df1)

# Save Data

In [17]:
train_df.to_csv("../../../../Development/econ985/campbell_data/train_df_quarterly_24.csv")
test_df.to_csv("../../../../Development/econ985/campbell_data/test_df_quarterly_24.csv")