In [1]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from ipython_helpers import (
    print_full
)
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
%matplotlib inline
import readline
from IPython.display import display

In [2]:
GLOBAL_INPUT_VARIABLES = [
    'CASHMTA_win',
    'EXRET_AVG_win',
    'MB_win',
    'NIMTA_AVG_win',
    'RSIZE_win', 
    'PRICE_win',
    'SIGMA_win', 
    'TLMTA_win'    
]

def transform_data(df):
    if 'Unnamed: 0' in df:
        del df['Unnamed: 0']
    
    return df

    
def get_num_of_bankruptcy_df(df):
    df = df.drop_duplicates(subset=['PERMNO'], keep='first')
    bankruptcy_df = df[df['is_bankrupt'] == True]
    num_of_bankruptcy_series = bankruptcy_df.groupby(by=['deletion_year']).count()['is_bankrupt']
    num_of_bankruptcy_df = pd.DataFrame(num_of_bankruptcy_series)
    num_of_bankruptcy_df.rename(columns={'is_bankrupt': 'Bankruptcies'}, inplace=True)
    num_of_bankruptcy_df.index = num_of_bankruptcy_df.index.astype(np.int32)

    return num_of_bankruptcy_df
    
    
def get_num_of_active_firms_df(df):  
    df = df.drop_duplicates(subset=['PERMNO', 'year'], keep='first')
    num_of_active_firms_series = df.groupby(by=['year']).count()['PERMNO']
    num_of_active_firms_df = pd.DataFrame(num_of_active_firms_series)
    num_of_active_firms_df.rename(columns={'PERMNO': 'Active Firms'}, inplace=True)
    
    return num_of_active_firms_df


def get_firm_status_by_year(df):
    num_of_active_firms_df = get_num_of_active_firms_df(df)
    num_of_bankruptcy_df = get_num_of_bankruptcy_df(df)

    df = num_of_active_firms_df.merge(num_of_bankruptcy_df, how='left', left_index=True, right_index=True)
    df.reset_index(inplace=True)
    df.rename(
        columns={
            'year': 'Year',
        },
        inplace=True
    )
    df.reset_index(inplace=True)
    df['(%)'] =(df['Bankruptcies'] / df['Active Firms'] * 100).round(4)
    df = df[['Year', 'Active Firms', 'Bankruptcies', '(%)']]

    return df


def get_observations_by_columns(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]
    
    observations_by_columns_df = pd.DataFrame(input_df.count(axis=0), columns=['Num of Observatons'])
                                    
    return observations_by_columns_df    


def get_observations_by_num_of_vars(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]

    num_of_vars_df = pd.DataFrame(pd.DataFrame(input_df.count(axis=1), columns=['Num of Observations']))
    observations_by_num_of_vars_df = pd.DataFrame(num_of_vars_df['Num of Observations'].value_counts(), columns=['Num of Observations'])
    
    return observations_by_num_of_vars_df.sort_index(ascending=False)
        

def compute_months_diff(row):
    year_diff = row['deletion_year'] - row['year']
    months_diff = row['deletion_month'] - row['month']
    
    if year_diff > 0:
        return 12 * year_diff + months_diff 
    else:
        return months_diff 

    
def make_months_diff_df(df, find_closest=False):
    bankruptcy_df = df[df['is_bankrupt'] == True]
    bankruptcy_df = bankruptcy_df.sort_values(by=['PERMNO', 'year', 'month'])
    if find_closest:
        bankruptcy_df.drop_duplicates(subset=['PERMNO'], keep='last', inplace=True)

    bankruptcy_df.loc[:, 'months_diff'] = bankruptcy_df.apply(lambda x: compute_months_diff(x), axis=1)
    
    return bankruptcy_df 


def filter_months_diff_df(df, threshold_diff):

    closest_months_diff_df = make_months_diff_df(df, find_closest=True)
    large_months_diff_df = closest_months_diff_df[closest_months_diff_df['months_diff'] > threshold_diff]
    security_filter_1 = large_months_diff_df['PERMNO'].values

    months_diff_df = make_months_diff_df(df)
    small_months_diff_df = months_diff_df[months_diff_df['months_diff'] < threshold_diff]
    index_filter = small_months_diff_df.index 
    
    output_df = df[~df['PERMNO'].isin(security_filter_1)]
    output_df = output_df.drop(index_filter) 
    
    bankruptcy_list_all = output_df[output_df['is_bankrupt'] == True]['PERMNO'].unique()
    bankruptcy_list_specific = output_df[output_df['is_bankrupt_12'] == True]['PERMNO'].unique()
    diff_list = list(set(bankruptcy_list_all).symmetric_difference(set(bankruptcy_list_specific)))
    
    output_df = output_df[~output_df['PERMNO'].isin(diff_list)]
    
    return output_df
        
    
def plot_histogram_of_diff_in_dates(df):
    max_num = df['months_diff'].max() + 1
    df['months_diff'].hist(bins=max_num + 1, range=(0, max_num))

    return 
    
def get_complete_features(df):
    df = df.dropna(how='any', subset=GLOBAL_INPUT_VARIABLES)
    
    return df


def filter_year_df(df, start_year=1970, end_year=2015):
    return df[(df['year'] >= start_year) & (df['year'] <= end_year)]


def make_train_and_test_df(df, threshold_year=2005):
    train_df = df[df['year'] <= threshold_year]
    test_df = df[df['year'] > threshold_year]
    
    return train_df, test_df


def get_num_of_bankruptcies(df):
    return len(df[df['is_bankrupt'] == True]['PERMNO'].unique())


def remove_bankrupt_observations_with_missing_12_months(df):
    """Remove observations where "is_bankrupt" is marked as True
    but "is_bankrupt_within_12" is marked as False.
    This removal is necessary because while the bankrupt observations have
    features that are indicative of bankrupcy, the False mark for "is_bankrupt_within_12"
    would confuse the model.
    """
    bankrupty_df = df[df['is_bankrupt'] == True]
    all_list = bankruptcy_df['PERMNO'].unique()
    available_list = bankruptcy_df[bankruptcy_df['is_bankrupt_within_12']]['PERMNO'].unique()
    missing_list = list(set(all_list).symmetric_difference(set(available_list)))
    
    return df[~df['PERMNO'].isin(missing_list)]

In [3]:
original_df = pd.read_csv("../../../../Development/econ985/campbell_data/simple_monthly_campbell_df_36.csv", parse_dates=['datadate', 'lagged_date', 'dldte'])

In [4]:
transformed_df = transform_data(original_df)

In [5]:
transformed_df.shape

(2407085, 20)

In [6]:
get_firm_status_by_year(transformed_df)

    Year  Active Firms  Bankruptcies     (%)
0   1961            40           NaN     NaN
1   1962           502           NaN     NaN
2   1963           549           NaN     NaN
3   1964           595           NaN     NaN
4   1965           653           NaN     NaN
5   1966          1391           NaN     NaN
6   1967          1493           NaN     NaN
7   1968          1656           NaN     NaN
8   1969          1803           NaN     NaN
9   1970          1913           1.0  0.0523
10  1971          2014           5.0  0.2483
11  1972          2112           3.0  0.1420
12  1973          2470           7.0  0.2834
13  1974          2478           5.0  0.2018
14  1975          2481           6.0  0.2418
15  1976          2469          12.0  0.4860
16  1977          2441           6.0  0.2458
17  1978          2394          13.0  0.5430
18  1979          2344          14.0  0.5973
19  1980          2287          13.0  0.5684
20  1981          3728           7.0  0.1878
21  1982          4191          12.0  0.2863
22  1983          4593          13.0  0.2830
23  1984          4878          14.0  0.2870
24  1985          4946          24.0  0.4852
25  1986          5139          67.0  1.3038
26  1987          5406          29.0  0.5364
27  1988          5331          43.0  0.8066
28  1989          5159          43.0  0.8335
29  1990          5045          14.0  0.2775
30  1991          4964          55.0  1.1080
31  1992          5206          50.0  0.9604
32  1993          5455          79.0  1.4482
33  1994          5957          55.0  0.9233
34  1995          6255          39.0  0.6235
35  1996          6726          40.0  0.5947
36  1997          7031          38.0  0.5405
37  1998          7081          49.0  0.6920
38  1999          6790          55.0  0.8100
39  2000          6666          92.0  1.3801
40  2001          6166          52.0  0.8433
41  2002          5490          30.0  0.5464
42  2003          5059          21.0  0.4151
43  2004          4832          23.0  0.4760
44  2005          4810          16.0  0.3326
45  2006          4723          13.0  0.2752
46  2007          4701           6.0  0.1276
47  2008          4435           8.0  0.1804
48  2009          4134          25.0  0.6047
49  2010          4051          18.0  0.4443
50  2011          3983          25.0  0.6277
51  2012          3873          21.0  0.5422
52  2013          3856          18.0  0.4668
53  2014          3997          12.0  0.3002
54  2015          4084          12.0  0.2938
55  2016          4016          12.0  0.2988
56  2017          3609           NaN     NaN

In [7]:
filtered_year_df = filter_year_df(transformed_df, start_year=1970, end_year=2015)
get_firm_status_by_year(filtered_year_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970          1913           NaN     NaN
1   1971          2014           NaN     NaN
2   1972          2112           NaN     NaN
3   1973          2470           7.0  0.2834
4   1974          2478           4.0  0.1614
5   1975          2481           6.0  0.2418
6   1976          2469          12.0  0.4860
7   1977          2441           6.0  0.2458
8   1978          2394          13.0  0.5430
9   1979          2344          14.0  0.5973
10  1980          2287          13.0  0.5684
11  1981          3728           7.0  0.1878
12  1982          4191          12.0  0.2863
13  1983          4593          13.0  0.2830
14  1984          4878          14.0  0.2870
15  1985          4946          24.0  0.4852
16  1986          5139          67.0  1.3038
17  1987          5406          29.0  0.5364
18  1988          5331          43.0  0.8066
19  1989          5159          43.0  0.8335
20  1990          5045          14.0  0.2775
21  1991          4964          55.0  1.1080
22  1992          5206          50.0  0.9604
23  1993          5455          79.0  1.4482
24  1994          5957          55.0  0.9233
25  1995          6255          39.0  0.6235
26  1996          6726          40.0  0.5947
27  1997          7031          38.0  0.5405
28  1998          7081          49.0  0.6920
29  1999          6790          55.0  0.8100
30  2000          6666          92.0  1.3801
31  2001          6166          52.0  0.8433
32  2002          5490          30.0  0.5464
33  2003          5059          21.0  0.4151
34  2004          4832          23.0  0.4760
35  2005          4810          16.0  0.3326
36  2006          4723          13.0  0.2752
37  2007          4701           6.0  0.1276
38  2008          4435           8.0  0.1804
39  2009          4134          25.0  0.6047
40  2010          4051          18.0  0.4443
41  2011          3983          25.0  0.6277
42  2012          3873          21.0  0.5422
43  2013          3856          18.0  0.4668
44  2014          3997          12.0  0.3002
45  2015          4084          12.0  0.2938

In [8]:
complete_df = get_complete_features(filtered_year_df)

In [9]:
print(filtered_year_df.shape)
print(get_num_of_bankruptcies(filtered_year_df))
print(complete_df.shape)
print(get_num_of_bankruptcies(complete_df))

(2263740, 20)
1217
(2018199, 20)
1138

In [10]:
get_firm_status_by_year(complete_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970             1           NaN     NaN
1   1971           416           NaN     NaN
2   1972          1774           NaN     NaN
3   1973          2151           NaN     NaN
4   1974          2197           NaN     NaN
5   1975          2249           NaN     NaN
6   1976          2273           7.0  0.3080
7   1977          2404           6.0  0.2496
8   1978          2358          13.0  0.5513
9   1979          2305          14.0  0.6074
10  1980          2236          13.0  0.5814
11  1981          2415           7.0  0.2899
12  1982          4014          11.0  0.2740
13  1983          4448           9.0  0.2023
14  1984          4755           6.0  0.1262
15  1985          4777          21.0  0.4396
16  1986          4975          58.0  1.1658
17  1987          5187          29.0  0.5591
18  1988          5166          39.0  0.7549
19  1989          4966          37.0  0.7451
20  1990          4913          12.0  0.2442
21  1991          4830          53.0  1.0973
22  1992          5068          46.0  0.9077
23  1993          5314          78.0  1.4678
24  1994          5828          54.0  0.9266
25  1995          6087          38.0  0.6243
26  1996          6556          40.0  0.6101
27  1997          6861          38.0  0.5539
28  1998          6884          47.0  0.6827
29  1999          6558          54.0  0.8234
30  2000          6432          91.0  1.4148
31  2001          5923          49.0  0.8273
32  2002          5303          29.0  0.5469
33  2003          4878          20.0  0.4100
34  2004          4683          23.0  0.4911
35  2005          4692          16.0  0.3410
36  2006          4614          13.0  0.2818
37  2007          4601           6.0  0.1304
38  2008          4346           8.0  0.1841
39  2009          4073          24.0  0.5892
40  2010          3984          18.0  0.4518
41  2011          3913          25.0  0.6389
42  2012          3813          21.0  0.5507
43  2013          3783          18.0  0.4758
44  2014          3912          11.0  0.2812
45  2015          3997          12.0  0.3002

In [12]:
filtered_year_df1 = filter_year_df(complete_df, start_year=1976, end_year=2015)

In [13]:
get_firm_status_by_year(filtered_year_df1)

    Year  Active Firms  Bankruptcies     (%)
0   1976          2273           NaN     NaN
1   1977          2404           NaN     NaN
2   1978          2358           NaN     NaN
3   1979          2305          10.0  0.4338
4   1980          2236          13.0  0.5814
5   1981          2415           7.0  0.2899
6   1982          4014          11.0  0.2740
7   1983          4448           9.0  0.2023
8   1984          4755           6.0  0.1262
9   1985          4777          21.0  0.4396
10  1986          4975          58.0  1.1658
11  1987          5187          29.0  0.5591
12  1988          5166          39.0  0.7549
13  1989          4966          37.0  0.7451
14  1990          4913          12.0  0.2442
15  1991          4830          53.0  1.0973
16  1992          5068          46.0  0.9077
17  1993          5314          78.0  1.4678
18  1994          5828          54.0  0.9266
19  1995          6087          38.0  0.6243
20  1996          6556          40.0  0.6101
21  1997          6861          38.0  0.5539
22  1998          6884          47.0  0.6827
23  1999          6558          54.0  0.8234
24  2000          6432          91.0  1.4148
25  2001          5923          49.0  0.8273
26  2002          5303          29.0  0.5469
27  2003          4878          20.0  0.4100
28  2004          4683          23.0  0.4911
29  2005          4692          16.0  0.3410
30  2006          4614          13.0  0.2818
31  2007          4601           6.0  0.1304
32  2008          4346           8.0  0.1841
33  2009          4073          24.0  0.5892
34  2010          3984          18.0  0.4518
35  2011          3913          25.0  0.6389
36  2012          3813          21.0  0.5507
37  2013          3783          18.0  0.4758
38  2014          3912          11.0  0.2812
39  2015          3997          12.0  0.3002

In [14]:
true_bankruptcy_df = filtered_year_df1[filtered_year_df1['is_bankrupt_within_36'] == True]
print(len(true_bankruptcy_df['PERMNO'].unique()))

877

In [15]:
filtered_year_df1.shape

(1984433, 20)

In [16]:
train_df, test_df = make_train_and_test_df(filtered_year_df1)

# Save Data

In [17]:
train_df.to_csv("../../../../Development/econ985/campbell_data/train_df_monthly_36.csv")
test_df.to_csv("../../../../Development/econ985/campbell_data/test_df_monthly_36.csv")