In [1]:
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from ipython_helpers import (
    print_full
)
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
%matplotlib inline
import readline
from IPython.display import display

In [2]:
GLOBAL_INPUT_VARIABLES = [
    'CASHMTA_win',
    'EXRET_AVG_win',
    'MB_win',
    'NIMTA_AVG_win',
    'RSIZE_win', 
    'PRICE_win',
    'SIGMA_win', 
    'TLMTA_win'    
]

def transform_data(df):
    if 'Unnamed: 0' in df:
        del df['Unnamed: 0']
    
    return df

    
def get_num_of_bankruptcy_df(df):
    df = df.drop_duplicates(subset=['PERMNO'], keep='first')
    bankruptcy_df = df[df['is_bankrupt'] == True]
    num_of_bankruptcy_series = bankruptcy_df.groupby(by=['deletion_year']).count()['is_bankrupt']
    num_of_bankruptcy_df = pd.DataFrame(num_of_bankruptcy_series)
    num_of_bankruptcy_df.rename(columns={'is_bankrupt': 'Bankruptcies'}, inplace=True)
    num_of_bankruptcy_df.index = num_of_bankruptcy_df.index.astype(np.int32)

    return num_of_bankruptcy_df
    
    
def get_num_of_active_firms_df(df):  
    df = df.drop_duplicates(subset=['PERMNO', 'year'], keep='first')
    num_of_active_firms_series = df.groupby(by=['year']).count()['PERMNO']
    num_of_active_firms_df = pd.DataFrame(num_of_active_firms_series)
    num_of_active_firms_df.rename(columns={'PERMNO': 'Active Firms'}, inplace=True)
    
    return num_of_active_firms_df


def get_firm_status_by_year(df):
    num_of_active_firms_df = get_num_of_active_firms_df(df)
    num_of_bankruptcy_df = get_num_of_bankruptcy_df(df)

    df = num_of_active_firms_df.merge(num_of_bankruptcy_df, how='left', left_index=True, right_index=True)
    df.reset_index(inplace=True)
    df.rename(
        columns={
            'year': 'Year',
        },
        inplace=True
    )
    df.reset_index(inplace=True)
    df['(%)'] =(df['Bankruptcies'] / df['Active Firms'] * 100).round(4)
    df = df[['Year', 'Active Firms', 'Bankruptcies', '(%)']]

    return df


def get_observations_by_columns(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]
    
    observations_by_columns_df = pd.DataFrame(input_df.count(axis=0), columns=['Num of Observatons'])
                                    
    return observations_by_columns_df    


def get_observations_by_num_of_vars(df):
    input_df = df[['PERMNO', 'NIMTA_AVG_win', 'TLMTA_win', 'CASHMTA_win', 'RSIZE_win', 'PRICE_win', 'EXRET_AVG_win', 'SIGMA_win', 'MB_win']]

    num_of_vars_df = pd.DataFrame(pd.DataFrame(input_df.count(axis=1), columns=['Num of Observations']))
    observations_by_num_of_vars_df = pd.DataFrame(num_of_vars_df['Num of Observations'].value_counts(), columns=['Num of Observations'])
    
    return observations_by_num_of_vars_df.sort_index(ascending=False)
        

def compute_months_diff(row):
    year_diff = row['deletion_year'] - row['year']
    months_diff = row['deletion_month'] - row['month']
    
    if year_diff > 0:
        return 12 * year_diff + months_diff 
    else:
        return months_diff 

    
def make_months_diff_df(df, find_closest=False):
    bankruptcy_df = df[df['is_bankrupt'] == True]
    bankruptcy_df = bankruptcy_df.sort_values(by=['PERMNO', 'year', 'month'])
    if find_closest:
        bankruptcy_df.drop_duplicates(subset=['PERMNO'], keep='last', inplace=True)

    bankruptcy_df.loc[:, 'months_diff'] = bankruptcy_df.apply(lambda x: compute_months_diff(x), axis=1)
    
    return bankruptcy_df 


def filter_months_diff_df(df, threshold_diff):

    closest_months_diff_df = make_months_diff_df(df, find_closest=True)
    large_months_diff_df = closest_months_diff_df[closest_months_diff_df['months_diff'] > threshold_diff]
    security_filter_1 = large_months_diff_df['PERMNO'].values

    months_diff_df = make_months_diff_df(df)
    small_months_diff_df = months_diff_df[months_diff_df['months_diff'] < threshold_diff]
    index_filter = small_months_diff_df.index 
    
    output_df = df[~df['PERMNO'].isin(security_filter_1)]
    output_df = output_df.drop(index_filter) 
    
    bankruptcy_list_all = output_df[output_df['is_bankrupt'] == True]['PERMNO'].unique()
    bankruptcy_list_specific = output_df[output_df['is_bankrupt_12'] == True]['PERMNO'].unique()
    diff_list = list(set(bankruptcy_list_all).symmetric_difference(set(bankruptcy_list_specific)))
    
    output_df = output_df[~output_df['PERMNO'].isin(diff_list)]
    
    return output_df
        
    
def plot_histogram_of_diff_in_dates(df):
    max_num = df['months_diff'].max() + 1
    df['months_diff'].hist(bins=max_num + 1, range=(0, max_num))

    return 
    
def get_complete_features(df):
    df = df.dropna(how='any', subset=GLOBAL_INPUT_VARIABLES)
    
    return df


def filter_year_df(df, start_year=1970, end_year=2015):
    return df[(df['year'] >= start_year) & (df['year'] <= end_year)]


def make_train_and_test_df(df, threshold_year=2005):
    train_df = df[df['year'] <= threshold_year]
    test_df = df[df['year'] > threshold_year]
    
    return train_df, test_df


def get_num_of_bankruptcies(df):
    return len(df[df['is_bankrupt'] == True]['PERMNO'].unique())


def remove_bankrupt_observations_with_missing_12_months(df):
    """Remove observations where "is_bankrupt" is marked as True
    but "is_bankrupt_within_12" is marked as False.
    This removal is necessary because while the bankrupt observations have
    features that are indicative of bankrupcy, the False mark for "is_bankrupt_within_12"
    would confuse the model.
    """
    bankrupty_df = df[df['is_bankrupt'] == True]
    all_list = bankruptcy_df['PERMNO'].unique()
    available_list = bankruptcy_df[bankruptcy_df['is_bankrupt_within_12']]['PERMNO'].unique()
    missing_list = list(set(all_list).symmetric_difference(set(available_list)))
    
    return df[~df['PERMNO'].isin(missing_list)]

In [3]:
original_df = pd.read_csv("../../../../Development/econ985/campbell_data/simple_monthly_campbell_df_12.csv", parse_dates=['datadate', 'lagged_date', 'dldte'])

In [4]:
transformed_df = transform_data(original_df)

In [5]:
transformed_df.shape

(2425046, 20)

In [6]:
get_firm_status_by_year(transformed_df)

    Year  Active Firms  Bankruptcies     (%)
0   1961            40           NaN     NaN
1   1962           502           NaN     NaN
2   1963           549           NaN     NaN
3   1964           595           NaN     NaN
4   1965           653           NaN     NaN
5   1966          1391           NaN     NaN
6   1967          1493           NaN     NaN
7   1968          1657           NaN     NaN
8   1969          1809           NaN     NaN
9   1970          1921           1.0  0.0521
10  1971          2023           5.0  0.2472
11  1972          2122           3.0  0.1414
12  1973          2480           7.0  0.2823
13  1974          2496           5.0  0.2003
14  1975          2497           6.0  0.2403
15  1976          2488          12.0  0.4823
16  1977          2464           6.0  0.2435
17  1978          2420          13.0  0.5372
18  1979          2362          14.0  0.5927
19  1980          2304          13.0  0.5642
20  1981          3744           7.0  0.1870
21  1982          4208          12.0  0.2852
22  1983          4618          13.0  0.2815
23  1984          4945          14.0  0.2831
24  1985          5019          24.0  0.4782
25  1986          5193          67.0  1.2902
26  1987          5461          29.0  0.5310
27  1988          5373          43.0  0.8003
28  1989          5208          43.0  0.8257
29  1990          5105          14.0  0.2742
30  1991          5052          55.0  1.0887
31  1992          5269          50.0  0.9489
32  1993          5495          79.0  1.4377
33  1994          6000          55.0  0.9167
34  1995          6307          39.0  0.6184
35  1996          6779          40.0  0.5901
36  1997          7109          38.0  0.5345
37  1998          7178          49.0  0.6826
38  1999          6877          55.0  0.7998
39  2000          6715          92.0  1.3701
40  2001          6202          52.0  0.8384
41  2002          5513          30.0  0.5442
42  2003          5073          21.0  0.4140
43  2004          4843          23.0  0.4749
44  2005          4819          16.0  0.3320
45  2006          4732          13.0  0.2747
46  2007          4717           6.0  0.1272
47  2008          4457           8.0  0.1795
48  2009          4154          25.0  0.6018
49  2010          4070          18.0  0.4423
50  2011          4004          25.0  0.6244
51  2012          3888          21.0  0.5401
52  2013          3870          18.0  0.4651
53  2014          4010          12.0  0.2993
54  2015          4088          12.0  0.2935
55  2016          4016          12.0  0.2988
56  2017          3609           NaN     NaN

In [7]:
filtered_year_df = filter_year_df(transformed_df, start_year=1970, end_year=2015)
get_firm_status_by_year(filtered_year_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970          1921           NaN     NaN
1   1971          2023           5.0  0.2472
2   1972          2122           3.0  0.1414
3   1973          2480           7.0  0.2823
4   1974          2496           4.0  0.1603
5   1975          2497           6.0  0.2403
6   1976          2488          12.0  0.4823
7   1977          2464           6.0  0.2435
8   1978          2420          13.0  0.5372
9   1979          2362          14.0  0.5927
10  1980          2304          13.0  0.5642
11  1981          3744           7.0  0.1870
12  1982          4208          12.0  0.2852
13  1983          4618          13.0  0.2815
14  1984          4945          14.0  0.2831
15  1985          5019          24.0  0.4782
16  1986          5193          67.0  1.2902
17  1987          5461          29.0  0.5310
18  1988          5373          43.0  0.8003
19  1989          5208          43.0  0.8257
20  1990          5105          14.0  0.2742
21  1991          5052          55.0  1.0887
22  1992          5269          50.0  0.9489
23  1993          5495          79.0  1.4377
24  1994          6000          55.0  0.9167
25  1995          6307          39.0  0.6184
26  1996          6779          40.0  0.5901
27  1997          7109          38.0  0.5345
28  1998          7178          49.0  0.6826
29  1999          6877          55.0  0.7998
30  2000          6715          92.0  1.3701
31  2001          6202          52.0  0.8384
32  2002          5513          30.0  0.5442
33  2003          5073          21.0  0.4140
34  2004          4843          23.0  0.4749
35  2005          4819          16.0  0.3320
36  2006          4732          13.0  0.2747
37  2007          4717           6.0  0.1272
38  2008          4457           8.0  0.1795
39  2009          4154          25.0  0.6018
40  2010          4070          18.0  0.4423
41  2011          4004          25.0  0.6244
42  2012          3888          21.0  0.5401
43  2013          3870          18.0  0.4651
44  2014          4010          12.0  0.2993
45  2015          4088          12.0  0.2935

In [8]:
complete_df = get_complete_features(filtered_year_df)

In [9]:
print(filtered_year_df.shape)
print(get_num_of_bankruptcies(filtered_year_df))
print(complete_df.shape)
print(get_num_of_bankruptcies(complete_df))

(2281586, 20)
1225
(2033889, 20)
1193

In [10]:
get_firm_status_by_year(complete_df)

    Year  Active Firms  Bankruptcies     (%)
0   1970             1           NaN     NaN
1   1971           416           NaN     NaN
2   1972          1774           NaN     NaN
3   1973          2152           NaN     NaN
4   1974          2207           NaN     NaN
5   1975          2264           NaN     NaN
6   1976          2294           9.0  0.3923
7   1977          2427           6.0  0.2472
8   1978          2384          13.0  0.5453
9   1979          2323          14.0  0.6027
10  1980          2253          13.0  0.5770
11  1981          2431           7.0  0.2879
12  1982          4031          11.0  0.2729
13  1983          4475          12.0  0.2682
14  1984          4825          13.0  0.2694
15  1985          4847          24.0  0.4952
16  1986          5030          67.0  1.3320
17  1987          5243          29.0  0.5531
18  1988          5208          42.0  0.8065
19  1989          5015          43.0  0.8574
20  1990          4972          14.0  0.2816
21  1991          4913          55.0  1.1195
22  1992          5118          50.0  0.9769
23  1993          5349          79.0  1.4769
24  1994          5869          55.0  0.9371
25  1995          6132          39.0  0.6360
26  1996          6606          40.0  0.6055
27  1997          6931          38.0  0.5483
28  1998          6975          49.0  0.7025
29  1999          6627          55.0  0.8299
30  2000          6477          92.0  1.4204
31  2001          5957          52.0  0.8729
32  2002          5324          30.0  0.5635
33  2003          4891          21.0  0.4294
34  2004          4694          23.0  0.4900
35  2005          4701          16.0  0.3404
36  2006          4621          13.0  0.2813
37  2007          4616           6.0  0.1300
38  2008          4368           8.0  0.1832
39  2009          4089          25.0  0.6114
40  2010          4001          18.0  0.4499
41  2011          3933          25.0  0.6356
42  2012          3828          21.0  0.5486
43  2013          3797          18.0  0.4741
44  2014          3924          12.0  0.3058
45  2015          4001          12.0  0.2999

In [11]:
filtered_year_df1 = filter_year_df(complete_df, start_year=1976, end_year=2015)

In [12]:
get_firm_status_by_year(filtered_year_df1)

    Year  Active Firms  Bankruptcies     (%)
0   1976          2294           NaN     NaN
1   1977          2427           6.0  0.2472
2   1978          2384          12.0  0.5034
3   1979          2323          13.0  0.5596
4   1980          2253          13.0  0.5770
5   1981          2431           7.0  0.2879
6   1982          4031          11.0  0.2729
7   1983          4475          12.0  0.2682
8   1984          4825          13.0  0.2694
9   1985          4847          24.0  0.4952
10  1986          5030          67.0  1.3320
11  1987          5243          29.0  0.5531
12  1988          5208          42.0  0.8065
13  1989          5015          43.0  0.8574
14  1990          4972          14.0  0.2816
15  1991          4913          55.0  1.1195
16  1992          5118          50.0  0.9769
17  1993          5349          79.0  1.4769
18  1994          5869          55.0  0.9371
19  1995          6132          39.0  0.6360
20  1996          6606          40.0  0.6055
21  1997          6931          38.0  0.5483
22  1998          6975          49.0  0.7025
23  1999          6627          55.0  0.8299
24  2000          6477          92.0  1.4204
25  2001          5957          52.0  0.8729
26  2002          5324          30.0  0.5635
27  2003          4891          21.0  0.4294
28  2004          4694          23.0  0.4900
29  2005          4701          16.0  0.3404
30  2006          4621          13.0  0.2813
31  2007          4616           6.0  0.1300
32  2008          4368           8.0  0.1832
33  2009          4089          25.0  0.6114
34  2010          4001          18.0  0.4499
35  2011          3933          25.0  0.6356
36  2012          3828          21.0  0.5486
37  2013          3797          18.0  0.4741
38  2014          3924          12.0  0.3058
39  2015          4001          12.0  0.2999

In [13]:
true_bankruptcy_df = filtered_year_df1[filtered_year_df1['is_bankrupt_within_12'] == True]
print(len(true_bankruptcy_df['PERMNO'].unique()))

294

In [14]:
filtered_year_df1.shape

(1999982, 20)

In [15]:
train_df, test_df = make_train_and_test_df(filtered_year_df1)

# Save Data

In [16]:
train_df.to_csv("../../../../Development/econ985/campbell_data/train_df_monthly_12.csv")
test_df.to_csv("../../../../Development/econ985/campbell_data/test_df_monthly_12.csv")