In [2]:
from datetime import datetime
import numpy as np
import math
import pandas as pd
from scipy.stats import mstats
from IPython.display import display
from dateutil.relativedelta import relativedelta
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')
%matplotlib inline

In [25]:
# Transform Functions
def transform_crspcs_qtrly_df(df):
    df = df[df['LINKPRIM'].isin(['P', 'C'])]
    df = df.rename(columns={
            'LPERMCO': 'PERMCO',
            'LPERMNO': 'PERMNO',
            'tic': 'TICKER',
            'cusip': 'CUSIP',
            'cshoq': 'outstanding_shares',
            'prccq': 'crspcs_share_price',
            'niq': 'net_income',
            'cheq': 'cash_and_sti',
            'atq': 'total_assets',
            'ltq': 'total_liabilities'
        })
    
    
    df.loc[:, 'lagged_date'] = df['datadate'].map(lambda x: x + relativedelta(months=2)) 
    df.loc[:, 'year'] = df['lagged_date'].dt.year 
    df.loc[:, 'month'] = df['lagged_date'].dt.month 
    df.loc[:, 'deletion_year'] = df['dldte'].dt.year 
    df.loc[:, 'deletion_month'] = df['dldte'].dt.month
    df.loc[:, 'outstanding_shares'] = df['outstanding_shares'] * math.pow(10, 6)
    df.loc[:, 'given_market_value'] = df['mkvaltq'] * math.pow(10, 6)
    df.loc[:, 'computed_market_value'] = df['outstanding_shares'] * df['crspcs_share_price']
    df.loc[:, 'crspcs_market_value'] = np.where(pd.notnull(df['given_market_value']), df['given_market_value'], df['computed_market_value'])
    df.loc[:, 'net_income'] = df['net_income'] * math.pow(10, 6)
    df.loc[:, 'cash_and_sti'] = df['cash_and_sti'] * math.pow(10, 6)
    df.loc[:, 'total_assets'] = df['total_assets'] * math.pow(10, 6)
    df.loc[:, 'total_liabilities'] = df['total_liabilities'] * 10**6
    df.loc[:, 'book_equity'] = df['total_assets'] - df['total_liabilities']
    df.loc[:, 'CUSIP'] = df['CUSIP'].astype(str).str[:-1]
    
    return df


def transform_crsp_monthly_equity_df(df):
    df = df.rename(columns={
        'SHROUT': 'outstanding_shares',
        'PRC': 'crsp_share_price',
        'sprtrn': 'sp500_index_return',
        'RET': 'equity_return'
    })   
    
    df.loc[:, 'lagged_date'] = df['date'].map(lambda x: x + relativedelta(months=1)) #2
    df.loc[:, 'year'] = df['lagged_date'].dt.year  #3
    df.loc[:, 'month'] = df['lagged_date'].dt.month  
    df.loc[:, 'outstanding_shares'] = df['outstanding_shares'] * math.pow(10, 3)  #4
    df.loc[:, 'crsp_share_price'] = df['crsp_share_price'].abs()  #5
    df.loc[:, 'crsp_market_value'] = df['outstanding_shares'] * df['crsp_share_price']  #6
    df.loc[:, 'sp500_index_return'] = pd.to_numeric(df['sp500_index_return'], errors='coerce', downcast='float')  #7 
    df.loc[:, 'equity_return'] = pd.to_numeric(df['equity_return'], errors='coerce', downcast='float')  #8

    return df


def transform_crsp_monthly_index_df(df):
    # 1) Lag the time by 1 month to ensure that information from specific month is
    # only accessible in the beginning of the next month
    df.loc[:, 'lagged_date'] = df['caldt'].map(lambda x: x + relativedelta(months=1))
    df.loc[:, 'year'] = df['lagged_date'].dt.year
    df.loc[:, 'month'] = df['lagged_date'].dt.month   
    # 2) Fix the unit of total market value by multiplying by 1000
    df.loc[:, 'totval'] = df['totval'] * math.pow(10, 3)
    df = df.rename(columns={'totval': 'sp500_market_value'})
    
    return df


def convert_qtrly_to_monthly(df):
    df_1 = df.copy()
    df_2 = df.copy()
    
    # Increment df_1's date by 1 month 
    df_1.loc[:, 'lagged_date'] = df_1['lagged_date'].map(lambda x: x + relativedelta(months=1))
    df_1.loc[:, 'year'] = df_1['lagged_date'].dt.year
    df_1.loc[:, 'month'] = df_1['lagged_date'].dt.month 
    
    # Increment df_1's date by 2 months 
    df_2.loc[:, 'lagged_date'] = df_2['lagged_date'].map(lambda x: x + relativedelta(months=2))
    df_2.loc[:, 'year'] = df_2['lagged_date'].dt.year
    df_2.loc[:, 'month'] = df_2['lagged_date'].dt.month 
    
    frames = [df, df_1, df_2]
    
    monthly_df = pd.concat(frames)
    monthly_df = monthly_df.sort_values(by=['TICKER', 'CUSIP', 'year', 'month'])
    
    return monthly_df


def transform_merged_df(df):
    df = df.rename(columns={
        'TICKER_x': 'TICKER',
        'lagged_date_x': 'lagged_date',
        'conm': 'company_name',
        'teqq': 'total_equity',    
        'outstanding_shares_x':'crspcs_outstanding_shares',
        'outstanding_shares_y':'crsp_outstanding_shares'
        })
    
            
    df.loc[:, 'company_share_price'] = np.where(pd.notnull(df['crsp_share_price']), df['crsp_share_price'], df['crspcs_share_price'])
    df.loc[:, 'company_market_value'] = np.where(pd.notnull(df['crsp_market_value']), df['crsp_market_value'], df['crspcs_market_value'])
    df.loc[:, 'is_bankrupt'] = np.where(df['dlrsn'].isin([2, 3]), True, False)
    
    return df

# Merge functions
def merge_crsp_equity_and_index_df(equity_df, index_df):
    return equity_df.merge(index_df[['sp500_market_value', 'year', 'month']], on=['year', 'month'])
    
    
def merge_crspcs_and_crsp_df(crspcs_df, crsp_df):    
    return crspcs_df.merge(crsp_df, how='left', on=['PERMNO', 'year', 'month'])


def merge_merged_df_and_sigma_df(merged_df, sigma_df):
    return merged_df.merge(sigma_df, how='left', on=['PERMNO', 'year', 'month'])
    
# Helper functions
def make_mean_df(df, var_name):
    return df.groupby(['year', 'month']).agg({var_name: 'mean'})
    
    
def replace_missing(row, mean_df, var_name):
    if pd.isnull(row[var_name]):
        return mean_df.loc[row['year'], row['month']][var_name]
    else:
        return row[var_name]

        
def make_campbell_df(df):
    print("Currently making ADJUSTED_TOTAL_ASSETS variable")
    df.loc[:, 'ADJUSTED_TOTAL_ASSETS'] = df['total_assets'] + 0.1 * (df['company_market_value'] - df['book_equity'])
    
    print("Currently making MARKET_TOTAL_ASSETS variable")
    df.loc[:, 'MARKET_TOTAL_ASSETS'] = df['company_market_value'] + df['total_liabilities']

    print("Currently making NITA variable")
    df.loc[:, 'NITA'] = df['net_income'] / df['ADJUSTED_TOTAL_ASSETS']

    print("Currently making TLTA variable")
    df.loc[:, 'TLTA'] = df['total_liabilities'] / df['ADJUSTED_TOTAL_ASSETS']
    
    print("Currently making NIMTA variable")
    df.loc[:, 'NIMTA'] = df['net_income'] / df['MARKET_TOTAL_ASSETS']
    
    print("Currently making TLMTA variable")
    df.loc[:, 'TLMTA'] = df['total_liabilities'] / df['MARKET_TOTAL_ASSETS']
    
    print("Currently making CASHMTA variable")
    df.loc[:, 'CASHMTA'] = df['cash_and_sti'] / df['MARKET_TOTAL_ASSETS']

    print("Currently making RSIZE variable")
    df.loc[:, 'RSIZE'] = np.log(df['company_market_value'] / df['sp500_market_value'])
    
    print("Currently making PRICE variable")
    df.loc[:, 'company_share_price'] = np.where(df['company_share_price'] > 15, 15, df['company_share_price'])
    df.loc[:, 'PRICE'] = np.log(df['company_share_price'])

    
    print("Currently making MB variable")
    df.loc[:, 'adjusted_book_equity'] = df['ADJUSTED_TOTAL_ASSETS'] - df['total_liabilities'] + 0.1 * (df['company_market_value'] - df['book_equity'])
    df.loc[:, 'adjusted_book_equity'] = np.where(df['adjusted_book_equity'] < 0, 1, df['adjusted_book_equity'])
    df.loc[:, 'MB'] = df['company_market_value'] / df['adjusted_book_equity']  
    
    print("Currently making EXRET variable")
    df.loc[:, 'EXRET'] = np.log(1 + df['equity_return']) - np.log(1 + df['sp500_index_return'])

    print("Currently making EXRET_AVG, NIMTA_3MONTHS, NIMTA_AVG variables")
    df = df.groupby(by=['PERMNO']).apply(make_AVG_columns)       
    df = df.reset_index(drop=True)
    
    nimta_avg_mean_df = make_mean_df(df, 'NIMTA_AVG')
    exret_avg_mean_df = make_mean_df(df, 'EXRET_AVG')
    
    print("Currently replacing missing NIMTA_AVG with cross sectional mean")
    df.loc[:, "NIMTA_AVG"] = df.apply(lambda x: replace_missing(x, nimta_avg_mean_df, 'NIMTA_AVG'), axis=1)

    print("Currently replacing missing EXRET_AVG with cross sectional mean")
    df.loc[:, "EXRET_AVG"] = df.apply(lambda x: replace_missing(x, exret_avg_mean_df, 'EXRET_AVG'), axis=1)

    return df


def make_AVG_columns(df):
    df = df.sort_values(by=['year', 'month'])
    df.loc[:, "EXRET_AVG"] = df['EXRET'].rolling(13).apply(compute_EXRET_AVG)
    df.loc[:, "NIMTA_3MONTHS"] = df['NIMTA'].rolling(4).apply(compute_NIMTA_3MONTHS)
    df.loc[:, "NIMTA_AVG"] = df['NIMTA_3MONTHS'].rolling(11).apply(compute_NIMTA_AVG)    
    
    return df


def compute_EXRET_AVG(values):
    weight = math.pow(2, -1.0/3)

    output_value = 0
    for index, value in enumerate(reversed(values[:12])):
        output_value += math.pow(weight, index) * value
    
    output_value = output_value * (1 - weight) / (1 - math.pow(weight, 12))

    return output_value


def compute_NIMTA_3MONTHS(values):
    return np.mean(values[:3])


def compute_NIMTA_AVG(values):
    weight = math.pow(2, -1.0/3)

    output_value = 0
    for index, value in enumerate(reversed(values[:10])):
        output_value += math.pow(weight, index) * value
    
    output_value = output_value * (1 - math.pow(weight, 3)) / (1 - math.pow(weight, 12))

    return output_value
    

def winsorize_df(df, var_list=None):
    """Winsorizes the variables specified in the var_list at 5th and 95th percentile
    """
    
    if var_list == None:
        var_list = [
            'CASHMTA',
            'EXRET_AVG',
            'PRICE',
            'MB',
            'NIMTA_AVG',
            'RSIZE',
            'SIGMA',
            'TLMTA'
        ]
        
    for var in var_list:
        print("Winsorizing {0} variable".format(var))
        column_name = var + '_win'
        win_df = df.dropna(subset=[var])
        win_df.loc[:, column_name] = mstats.winsorize(win_df[var], limits=(0.05, 0.05))
        df = df.join(win_df[column_name])
    
    print("Finished winsorizing variables")

    return df 

    
def get_month_diff(row):
    if row['is_bankrupt']:
        year_diff = row['deletion_year'] - row['year']
        months_diff = row['deletion_month'] - row['month']
        if year_diff > 0:
            months_diff = 12 * year_diff + months_diff 

        return months_diff 
    else:
        return np.nan
    
    
def make_month_diff_column(df):
    df = df.sort_values(by=['PERMNO', 'year', 'month'])
    df.loc[:, 'month_diff'] = df.apply(lambda row: get_month_diff(row), axis=1)
    
    return df

    
def make_bankruptcy_column(df, month):
    df = df.sort_values(by=['PERMNO', 'year', 'month'])
    df.loc[:, 'is_bankrupt_within_'+str(month)] = np.where(df['month_diff'] <= month, True, False)
    
    return df 
    
    
def make_bankruptcy_df(df, month):
    df = make_bankruptcy_column(df, month)
    bankrupt_df = df[df['is_bankrupt_within_'+str(month)] == True]
    bankrupt_series = bankrupt_df.duplicated(subset=['PERMNO']).sort_index()
    exit_index = bankrupt_series[bankrupt_series == True]
    # Only keep the first bankruptcy observation for each firm and remove all the later observations 
    df = df[~df.index.isin(exit_index.index)]
    
    return df 
    
    
# Filter functions
def filter_exchange_df(df):
    """Filter for only stocks in NYSE, American Stock Exchange, and NASDAQ
    Stock Exchange Codes
    11 - NYSE
    12 - American Stock Exchange
    14 - NASDAQ-NMS
    """
    return df[df['exchg'].isin([11, 12, 14])]


def get_industry_code(code_int):
    """Helper functions for filter_industry_df
    """
    if np.isnan(code_int):
        return 0
    else:
        code_int = int(code_int)
        code_str = str(code_int)
        if len(code_str) == 3:
            industry_code = int(code_str[0])
        else:
            industry_code = int(code_str[:2])

    return industry_code


def filter_industry_df(df):
    """Filter out finance, industry, real estate, and nonclassifiable industries
    
    SIC Codes Reference: https://www.osha.gov/pls/imis/sic_manual.html
    60 - Depository Institutions
    61 - Non-depository Institutions
    62 - Security and Commodity Brokers, Dealers, Exchanges, and Services
    63 - Insurance Carriers
    64 - Insurance Agents, Brokers, and Services
    65 - Real Estate
    67 - Holding and Other Investment Offices
    99 - Nonclassifiable establishments
    """
    df.loc[:, 'sic_code'] = df['sic'].map(lambda x: get_industry_code(x))
    industry_filter = [60, 61, 62, 63, 64, 65, 67, 99]
    
    return df[~df['sic_code'].isin(industry_filter)]


# Check functions
def get_bankruptcy_count(df):
    df = df.drop_duplicates(subset=['PERMNO'])
    return df[df['is_bankrupt'] == True].shape


def get_last_observation_df(df):
    df = df[df['is_bankrupt'] == True]
    df = df.sort_values(by=['PERMNO', 'year', 'month'])
    df = df.drop_duplicates(subset=['PERMNO'], keep='last')

    return df


# I/O functions
def make_simple_campbell_df(df, month):    
    df = df[[
            'PERMNO',
            'GVKEY',
            'company_name',
            'datadate',
            'lagged_date',
            'year',
            'month',
            'CASHMTA_win',
            'EXRET_AVG_win',
            'MB_win',
            'NIMTA_AVG_win',
            'PRICE_win',
            'RSIZE_win',
            'SIGMA_win',
            'TLMTA_win',
            'month_diff',
            'is_bankrupt',
            'is_bankrupt_within_'+str(month),
            'dldte',
            'deletion_year',
            'deletion_month'          
        ]]
    
    return df

def make_simple_monthly_df(df):
    df = df[[
            'PERMNO',
            'GVKEY',
            'company_name',
            'datadate',
            'lagged_date',
            'year',
            'month',
            'CASHMTA_win',
            'EXRET_AVG_win',
            'MB_win',
            'NIMTA_AVG_win',
            'PRICE_win',
            'RSIZE_win',
            'SIGMA_win',
            'TLMTA_win',
            'is_bankrupt',
            'dldte',
            'deletion_year',
            'deletion_month'          
        ]]
    
    return df

# Read Data

In [ ]:
crspcs_qtrly_df = pd.read_csv("../Data/original_data/crsp_cs_merged_data_1961_2016.csv", parse_dates=['datadate', 'dldte'])

In [ ]:
crsp_monthly_equity_df = pd.read_csv("../Data/original_data/crsp_monthly_equity_1961_2015.csv", parse_dates=['date'])

In [ ]:
crsp_monthly_index_df = pd.read_csv("../Data/original_data/crsp_monthly_index_1961_2015.csv", parse_dates=['caldt'])

In [ ]:
SIGMA_df = pd.read_csv("../Data/campbell_data/campbell_SIGMA.csv",
    usecols=['PERMNO', 'year', 'month', 'SIGMA'],
    dtype={
        'PERMNO': np.int32,
        'year': np.int32,  
        'month': np.int32,
        'SIGMA': np.float64,
    }                                   
)

# Transform Data - Pre-Merge

In [ ]:
transformed_crspcs_qtrly_df = transform_crspcs_qtrly_df(crspcs_qtrly_df)

In [ ]:
transformed_crsp_monthly_equity_df = transform_crsp_monthly_equity_df(crsp_monthly_equity_df)

In [ ]:
transformed_crsp_monthly_index_df = transform_crsp_monthly_index_df(crsp_monthly_index_df)

In [ ]:
crspcs_monthly_df = convert_qtrly_to_monthly(transformed_crspcs_qtrly_df)

# Merge Data

In [ ]:
merged_crsp_df = merge_crsp_equity_and_index_df(transformed_crsp_monthly_equity_df, transformed_crsp_monthly_index_df)

In [ ]:
merged_df = merge_crspcs_and_crsp_df(crspcs_monthly_df, merged_crsp_df)

In [ ]:
merged_df = merge_merged_df_and_sigma_df(merged_df, SIGMA_df)

# Transform Data - Post-Merge

In [ ]:
transformed_merged_df = transform_merged_df(merged_df)

In [ ]:
transformed_merged_df[transformed_merged_df['TICKER'] == 'AAPL']

# Make Variables

In [ ]:
campbell_df = make_campbell_df(transformed_merged_df)

In [ ]:
winsorized_campbell_df = winsorize_df(campbell_df)

In [ ]:
winsorized_campbell_df_sorted = winsorized_campbell_df.sort_values(by=['PERMNO', 'fyearq', 'fqtr', 'year', 'month'])

In [ ]:
winsorized_campbell_df_sorted.to_csv("../../../../data/features/winsorized_campbell_df.csv")

In [4]:
winsorized_campbell_df_sorted = pd.read_csv("../../../../data/features/winsorized_campbell_df.csv")

/usr/local/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3,8,17,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Filter Data

In [32]:
winsorized_campbell_df_sorted[winsorized_campbell_df_sorted['GVKEY'] == 14890][['GVKEY', 'datadate', 'company_name']]

         GVKEY    datadate            company_name
1906407  14890  1991-06-30  DURACELL INTERNATIONAL
1906408  14890  1991-06-30  DURACELL INTERNATIONAL
1906409  14890  1991-06-30  DURACELL INTERNATIONAL
1906410  14890  1991-09-30  DURACELL INTERNATIONAL
1906411  14890  1991-09-30  DURACELL INTERNATIONAL
1906412  14890  1991-09-30  DURACELL INTERNATIONAL
1906413  14890  1991-12-31  DURACELL INTERNATIONAL
1906414  14890  1991-12-31  DURACELL INTERNATIONAL
1906415  14890  1991-12-31  DURACELL INTERNATIONAL
1906416  14890  1992-03-31  DURACELL INTERNATIONAL
1906417  14890  1992-03-31  DURACELL INTERNATIONAL
1906418  14890  1992-03-31  DURACELL INTERNATIONAL
1906419  14890  1992-06-30  DURACELL INTERNATIONAL
1906420  14890  1992-06-30  DURACELL INTERNATIONAL
1906421  14890  1992-06-30  DURACELL INTERNATIONAL
1906422  14890  1992-09-30  DURACELL INTERNATIONAL
1906423  14890  1992-09-30  DURACELL INTERNATIONAL
1906424  14890  1992-09-30  DURACELL INTERNATIONAL
1906425  14890  1992-12-31  DURACELL INTERNATIONAL
1906426  14890  1992-12-31  DURACELL INTERNATIONAL
1906427  14890  1992-12-31  DURACELL INTERNATIONAL
1906428  14890  1993-03-31  DURACELL INTERNATIONAL
1906429  14890  1993-03-31  DURACELL INTERNATIONAL
1906430  14890  1993-03-31  DURACELL INTERNATIONAL
1906431  14890  1993-06-30  DURACELL INTERNATIONAL
1906432  14890  1993-06-30  DURACELL INTERNATIONAL
1906433  14890  1993-06-30  DURACELL INTERNATIONAL
1906434  14890  1993-09-30  DURACELL INTERNATIONAL
1906435  14890  1993-09-30  DURACELL INTERNATIONAL
1906436  14890  1993-09-30  DURACELL INTERNATIONAL
...        ...         ...                     ...
1906443  14890  1994-06-30  DURACELL INTERNATIONAL
1906444  14890  1994-06-30  DURACELL INTERNATIONAL
1906445  14890  1994-06-30  DURACELL INTERNATIONAL
1906446  14890  1994-09-30  DURACELL INTERNATIONAL
1906447  14890  1994-09-30  DURACELL INTERNATIONAL
1906448  14890  1994-09-30  DURACELL INTERNATIONAL
1906449  14890  1994-12-31  DURACELL INTERNATIONAL
1906450  14890  1994-12-31  DURACELL INTERNATIONAL
1906451  14890  1994-12-31  DURACELL INTERNATIONAL
1906452  14890  1995-03-31  DURACELL INTERNATIONAL
1906453  14890  1995-03-31  DURACELL INTERNATIONAL
1906454  14890  1995-03-31  DURACELL INTERNATIONAL
1906455  14890  1995-06-30  DURACELL INTERNATIONAL
1906456  14890  1995-06-30  DURACELL INTERNATIONAL
1906457  14890  1995-06-30  DURACELL INTERNATIONAL
1906458  14890  1995-09-30  DURACELL INTERNATIONAL
1906459  14890  1995-09-30  DURACELL INTERNATIONAL
1906460  14890  1995-09-30  DURACELL INTERNATIONAL
1906461  14890  1995-12-31  DURACELL INTERNATIONAL
1906462  14890  1995-12-31  DURACELL INTERNATIONAL
1906463  14890  1995-12-31  DURACELL INTERNATIONAL
1906464  14890  1996-03-31  DURACELL INTERNATIONAL
1906465  14890  1996-03-31  DURACELL INTERNATIONAL
1906466  14890  1996-03-31  DURACELL INTERNATIONAL
1906467  14890  1996-06-30  DURACELL INTERNATIONAL
1906468  14890  1996-06-30  DURACELL INTERNATIONAL
1906469  14890  1996-06-30  DURACELL INTERNATIONAL
1906470  14890  1996-09-30  DURACELL INTERNATIONAL
1906471  14890  1996-09-30  DURACELL INTERNATIONAL
1906472  14890  1996-09-30  DURACELL INTERNATIONAL

[66 rows x 3 columns]

In [5]:
filtered_industry_df = filter_industry_df(winsorized_campbell_df_sorted)

In [6]:
month_diff_df = make_month_diff_column(filtered_industry_df)

In [7]:
non_neg_month_diff_df = month_diff_df.drop(month_diff_df[month_diff_df['month_diff'] < 0].index)

# Create monthly, quarterly, annual data

In [8]:
monthly_campbell_df = non_neg_month_diff_df.sort_values(by=['PERMNO', 'fyearq', 'fqtr', 'year', 'month'])

In [ ]:
quarterly_campbell_df = monthly_campbell_df.drop_duplicates(subset=['PERMNO', 'fyearq', 'fqtr'], keep='first')

In [ ]:
annual_campbell_df = quarterly_campbell_df.drop_duplicates(subset=['PERMNO', 'year'], keep='last')

# Mark bankruptcies dataframes

In [ ]:
monthly_campbell_df_0 = make_bankruptcy_df(monthly_campbell_df, 0)
monthly_campbell_df_6 = make_bankruptcy_df(monthly_campbell_df, 6)
monthly_campbell_df_12 = make_bankruptcy_df(monthly_campbell_df, 12)
monthly_campbell_df_24 = make_bankruptcy_df(monthly_campbell_df, 24)
monthly_campbell_df_36 = make_bankruptcy_df(monthly_campbell_df, 36)

In [ ]:
quarterly_campbell_df_6 = make_bankruptcy_df(quarterly_campbell_df, 6)
quarterly_campbell_df_12 = make_bankruptcy_df(quarterly_campbell_df, 12)
quarterly_campbell_df_24 = make_bankruptcy_df(quarterly_campbell_df, 24)
quarterly_campbell_df_36 = make_bankruptcy_df(quarterly_campbell_df, 36)

In [ ]:
annual_campbell_df_12 = make_bankruptcy_df(annual_campbell_df, 12)
annual_campbell_df_24 = make_bankruptcy_df(annual_campbell_df, 24)
annual_campbell_df_36 = make_bankruptcy_df(annual_campbell_df, 36)

# Check Data

In [ ]:
last_annual_observation_df = get_last_observation_df(a nnual_campbell_df)
last_annual_observation_df['month_diff'].describe()

In [ ]:
last_annual_observation_df.hist(column=['month_diff'], range=[0, 100], bins=100)

In [ ]:
last_monthly_observation_df = get_last_observation_df(monthly_campbell_df)
last_monthly_observation_df['month_diff'].describe()

In [ ]:
default_df_12 = annual_campbell_df_12[annual_campbell_df_12['is_bankrupt_within_12'] == True]

In [ ]:
default_df_24 = annual_campbell_df_24[annual_campbell_df_24['is_bankrupt_within_24'] == True]

In [ ]:
default_df_36 = annual_campbell_df_36[annual_campbell_df_36['is_bankrupt_within_36'] == True]

In [ ]:
print(default_df_12.shape)
print(default_df_24.shape)
print(default_df_36.shape)

In [ ]:
annual_campbell_df[annual_campbell_df['PERMNO'] == 58879]

# Save Data

In [ ]:
final_df.to_csv("../Data/campbell_data/complete_annual_campbell_df.csv")

In [26]:
simple_monthly_campbell_df = make_simple_monthly_df(monthly_campbell_df)

In [27]:
simple_monthly_campbell_df.to_csv("../../../../data/features/simple_monthly_campbell_df.csv")

In [21]:
monthly_campbell_df[monthly_campbell_df['TICKER'] == 'AAPL']

,Unnamed: 0,GVKEY,LINKPRIM,LIID,LINKTYPE,PERMNO,PERMCO_x,LINKDT,LINKENDDT,datadate,...,CASHMTA_win,EXRET_AVG_win,PRICE_win,MB_win,NIMTA_AVG_win,RSIZE_win,SIGMA_win,TLMTA_win,sic_code,month_diff
329856,329856,1690,P,1,LU,14593,7,19801212,E,1980-12-31,...,0.046809,-0.002222,2.708050,3.745466,0.026102,-6.754294,NaN,0.036467,36,NaN
329857,329857,1690,P,1,LU,14593,7,19801212,E,1980-12-31,...,0.049821,0.007806,2.708050,3.684699,0.025452,-6.754294,0.155140,0.036467,36,NaN
329858,329858,1690,P,1,LU,14593,7,19801212,E,1980-12-31,...,0.053777,0.005566,2.708050,3.607621,0.025018,-6.754294,0.120263,0.036467,36,NaN
329859,329859,1690,P,1,LU,14593,7,19801212,E,1981-03-31,...,0.046986,0.013902,2.708050,3.638186,0.024835,-6.754294,0.126801,0.036467,36,NaN
329860,329860,1690,P,1,LU,14593,7,19801212,E,1981-03-31,...,0.040505,0.020229,2.708050,3.783744,0.024823,-6.754294,0.112845,0.036467,36,NaN
329861,329861,1690,P,1,LU,14593,7,19801212,E,1981-03-31,...,0.051251,0.020595,2.708050,3.547813,0.024847,-6.754294,0.106491,0.036467,36,NaN
329862,329862,1690,P,1,LU,14593,7,19801212,E,1981-06-30,...,0.053911,0.017240,2.708050,3.389932,0.024907,-6.754294,0.112246,0.040461,36,NaN
329863,329863,1690,P,1,LU,14593,7,19801212,E,1981-06-30,...,0.066282,0.008430,2.708050,3.145344,0.025219,-6.754294,0.114892,0.049745,36,NaN
329864,329864,1690,P,1,LU,14593,7,19801212,E,1981-06-30,...,0.085770,0.003264,2.708050,2.816988,0.025192,-6.850356,0.128768,0.064371,36,NaN
329865,329865,1690,P,1,LU,14593,7,19801212,E,1981-09-30,...,0.061355,-0.003782,2.708050,3.049819,0.025615,-6.754294,0.119865,0.065245,36,NaN
329866,329866,1690,P,1,LU,14593,7,19801212,E,1981-09-30,...,0.065555,0.000716,2.708050,2.964736,0.026143,-6.754294,0.123504,0.069710,36,NaN
329867,329867,1690,P,1,LU,14593,7,19801212,E,1981-09-30,...,0.055722,-0.000215,2.708050,3.170515,0.026695,-6.754294,0.117800,0.059254,36,NaN
329868,329868,1690,P,1,LU,14593,7,19801212,E,1981-12-31,...,0.062141,0.009123,2.708050,2.977826,0.027600,-6.754294,0.125068,0.075797,36,NaN
329869,329869,1690,P,1,LU,14593,7,19801212,E,1981-12-31,...,0.068747,-0.005024,2.708050,2.844339,0.020766,-6.754294,0.115664,0.083855,36,NaN
329870,329870,1690,P,1,LU,14593,7,19801212,E,1981-12-31,...,0.072554,-0.013346,2.708050,2.771733,0.021432,-6.754294,0.126129,0.088499,36,NaN
329871,329871,1690,P,1,LU,14593,7,19801212,E,1982-03-31,...,0.109904,-0.023959,2.695471,2.452477,0.022364,-6.876308,0.118322,0.092317,36,NaN
329872,329872,1690,P,1,LU,14593,7,19801212,E,1982-03-31,...,0.115199,-0.059486,2.643512,2.387597,0.023910,-6.891346,0.117847,0.096764,36,NaN
329873,329873,1690,P,1,LU,14593,7,19801212,E,1982-03-31,...,0.124751,-0.051974,2.550421,2.277380,0.025820,-6.964757,0.091954,0.104788,36,NaN
329874,329874,1690,P,1,LU,14593,7,19801212,E,1982-06-30,...,0.142631,-0.054046,2.607309,2.253239,0.027907,-6.873434,0.100390,0.104105,36,NaN
329875,329875,1690,P,1,LU,14593,7,19801212,E,1982-06-30,...,0.109949,-0.024752,2.708050,2.610522,0.030199,-6.754294,0.116430,0.080251,36,NaN
329876,329876,1690,P,1,LU,14593,7,19801212,E,1982-06-30,...,0.107199,0.021353,2.708050,2.644810,0.032376,-6.754294,0.117204,0.078244,36,NaN
329877,329877,1690,P,1,LU,14593,7,19801212,E,1982-09-30,...,0.098082,0.021344,2.708050,2.933482,0.033717,-6.754294,0.114716,0.064528,36,NaN
329878,329878,1690,P,1,LU,14593,7,19801212,E,1982-09-30,...,0.079122,0.062625,2.708050,3.203476,0.034124,-6.754294,0.128471,0.052054,36,NaN
329879,329879,1690,P,1,LU,14593,7,19801212,E,1982-09-30,...,0.083962,0.063971,2.708050,3.130649,0.033521,-6.754294,0.132397,0.055238,36,NaN
329880,329880,1690,P,1,LU,14593,7,19801212,E,1982-12-31,...,0.077528,0.053901,2.708050,3.351548,0.032307,-6.754294,0.146041,0.047848,36,NaN
329881,329881,1690,P,1,LU,14593,7,19801212,E,1982-12-31,...,0.069805,0.063971,2.708050,3.470675,0.030766,-6.754294,0.127625,0.043082,36,NaN
329882,329882,1690,P,1,LU,14593,7,19801212,E,1982-12-31,...,0.074327,0.063971,2.708050,3.400065,0.029018,-6.754294,0.119685,0.045872,36,NaN
329883,329883,1690,P,1,LU,14593,7,19801212,E,1983-03-31,...,0.068085,0.059737,2.708050,3.465959,0.027361,-6.754294,0.099636,0.043447,36,NaN
329884,329884,1690,P,1,LU,14593,7,19801212,E,1983-03-31,...,0.059864,0.063971,2.708050,3.604805,0.025778,-6.754294,0.100525,0.038201,36,NaN
329885,329885,1690,P,1,LU,14593,7,19801212,E,1983-03-31,...,0.070247,0.063971,2.708050,3.430960,0.024139,-6.754294,0.111201,0.044827,36,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330258,330258,1690,P,1,LU,14593,7,19801212,E,2014-06-30,...,0.056089,0.025975,2.708050,2.709904,0.043556,-6.754294,0.035405,0.150708,36,NaN
330259,330259,1690,P,1,LU,14593,7,19801212,E,2014-06-30,...,0.052849,0.029040,2.708050,2.796115,0.042453,-6.754294,0.035405,0.142003,36,NaN
330260,330260,1690,P,1,LU,14593,7,19801212,E,2014-06-30,...,0.054585,0.029719,2.708050,2.749484,0.040723,-6.754294,0.043970,0.146666,36,NaN
330261,330261,1690,P,1,LU,14593,7,19801212,E,2014-09-30,...,0.033272,0.023941,2.708050,2.933532,0.038406,-6.754294,0.043974,0.159603,36,NaN
330262,330262,1690,P,1,LU,14593,7,19801212,E,2014-09-30,...,0.030664,0.028580,2.708050,3.049355,0.035733,-6.754294,0.046137,0.147093,36,NaN
330263,330263,1690,P,1,LU,14593,7,19801212,E,2014-09-30,...,0.032849,0.038887,2.708050,2.951966,0.033580,-6.754294,0.043833,0.157572,36,NaN
330264,330264,1690,P,1,LU,14593,7,19801212,E,2014-12-31,...,0.039541,0.015569,2.708050,2.902120,0.031600,-6.754294,0.061367,0.168778,36,NaN
330265,330265,1690,P,1,LU,14593,7,19801212,E,2014-12-31,...,0.036606,0.033483,2.708050,3.013337,0.029830,-6.754294,0.064426,0.156252,36,NaN
330266,330266,1690,P,1,LU,14593,7,19801212,E,2014-12-31,...,0.037602,0.035695,2.708050,2.975052,0.030145,-6.754294,0.062372,0.160500,36,NaN
330267,330267,1690,P,1,LU,14593,7,19801212,E,2015-03-31,...,0.038784,0.025002,2.708050,2.914504,0.032289,-6.754294,0.045791,0.154907,36,NaN
330268,330268,1690,P,1,LU,14593,7,19801212,E,2015-03-31,...,0.037486,0.018029,2.708050,2.963171,0.035853,-6.754294,0.046784,0.149721,36,NaN
330269,330269,1690,P,1,LU,14593,7,19801212,E,2015-03-31,...,0.039038,0.020979,2.708050,2.905107,0.037738,-6.754294,0.040274,0.155921,36,NaN
330270,330270,1690,P,1,LU,14593,7,19801212,E,2015-06-30,...,0.041352,0.012851,2.708050,2.895648,0.038454,-6.754294,0.044262,0.175729,36,NaN
330271,330271,1690,P,1,LU,14593,7,19801212,E,2015-06-30,...,0.043899,-0.002059,2.708050,2.806200,0.038251,-6.754294,0.064307,0.186555,36,NaN
330272,330272,1690,P,1,LU,14593,7,19801212,E,2015-06-30,...,0.044692,-0.002979,2.708050,2.779005,0.037608,-6.754294,0.075783,0.189925,36,NaN
330273,330273,1690,P,1,LU,14593,7,19801212,E,2015-09-30,...,0.049680,-0.001299,2.708050,2.912776,0.036771,-6.754294,0.076314,0.204357,36,NaN
330274,330274,1690,P,1,LU,14593,7,19801212,E,2015-09-30,...,0.050080,-0.001585,2.708050,2.900494,0.035715,-6.754294,0.061006,0.206003,36,NaN
330275,330275,1690,P,1,LU,14593,7,19801212,E,2015-09-30,...,0.054884,-0.003672,2.708050,2.757074,0.034978,-6.754294,0.053366,0.225762,36,NaN
330276,330276,1690,P,1,LU,14593,7,19801212,E,2015-12-31,...,0.050858,NaN,2.708050,2.660814,0.034183,NaN,0.071069,0.220425,36,NaN
330277,330277,1690,P,1,LU,14593,7,19801212,E,2015-12-31,...,0.050858,NaN,2.708050,2.660814,0.033541,NaN,0.071160,0.220425,36,NaN
330278,330278,1690,P,1,LU,14593,7,19801212,E,2015-12-31,...,0.050858,NaN,2.708050,2.660814,0.034858,NaN,0.068613,0.220425,36,NaN
330279,330279,1690,P,1,LU,14593,7,19801212,E,2016-03-31,...,0.071618,NaN,2.708050,2.668170,0.037989,NaN,0.052726,0.226475,36,NaN
330280,330280,1690,P,1,LU,14593,7,19801212,E,2016-03-31,...,0.071618,NaN,2.708050,2.668170,0.042313,NaN,0.050307,0.226475,36,NaN
330281,330281,1690,P,1,LU,14593,7,19801212,E,2016-03-31,...,0.071618,NaN,2.708050,2.668170,0.043892,NaN,0.049701,0.226475,36,NaN
330282,330282,1690,P,1,LU,14593,7,19801212,E,2016-06-30,...,0.088903,NaN,2.708050,2.523055,0.043263,NaN,0.048034,0.257772,36,NaN
330283,330283,1690,P,1,LU,14593,7,19801212,E,2016-06-30,...,0.088903,NaN,2.708050,2.523055,0.040859,NaN,0.042936,0.257772,36,NaN
330284,330284,1690,P,1,LU,14593,7,19801212,E,2016-06-30,...,0.088903,NaN,2.708050,2.523055,0.038564,NaN,0.049468,0.257772,36,NaN
330285,330285,1690,P,1,LU,14593,7,19801212,E,2016-09-30,...,0.084292,NaN,2.708050,2.702145,0.036305,NaN,0.040107,0.242801,36,NaN
330286,330286,1690,P,1,LU,14593,7,19801212,E,2016-09-30,...,0.084292,NaN,2.708050,2.702145,0.034088,NaN,0.045700,0.242801,36,NaN
330287,330287,1690,P,1,LU,14593,7,19801212,E,2016-09-30,...,0.084292,NaN,2.708050,2.702145,0.032328,NaN,NaN,0.242801,36,NaN

In [ ]:
simple_monthly_campbell_df_0 = make_simple_campbell_df(monthly_campbell_df_0, 0)
simple_monthly_campbell_df_6 = make_simple_campbell_df(monthly_campbell_df_6, 6)
simple_monthly_campbell_df_12 = make_simple_campbell_df(monthly_campbell_df_12, 12)
simple_monthly_campbell_df_24 = make_simple_campbell_df(monthly_campbell_df_24, 24)
simple_monthly_campbell_df_36 = make_simple_campbell_df(monthly_campbell_df_36, 36)

In [ ]:
simple_quarterly_campbell_df_6 = make_simple_campbell_df(quarterly_campbell_df_6, 6)
simple_quarterly_campbell_df_12 = make_simple_campbell_df(quarterly_campbell_df_12, 12)
simple_quarterly_campbell_df_24 = make_simple_campbell_df(quarterly_campbell_df_24, 24)
simple_quarterly_campbell_df_36 = make_simple_campbell_df(quarterly_campbell_df_36, 36)

In [ ]:
simple_annual_campbell_df_12 = make_simple_campbell_df(annual_campbell_df_12, 12)
simple_annual_campbell_df_24 = make_simple_campbell_df(annual_campbell_df_24, 24)
simple_annual_campbell_df_36 = make_simple_campbell_df(annual_campbell_df_36, 36)

In [ ]:
simple_monthly_campbell_df_0.to_csv("../../../../Development/econ985/campbell_data/simple_monthly_campbell_df_0.csv")

In [ ]:
simple_monthly_campbell_df_6.to_csv("../../../../Development/econ985/campbell_data/simple_monthly_campbell_df_6.csv")

In [ ]:
simple_monthly_campbell_df_12.to_csv("../../../../Development/econ985/campbell_data/simple_monthly_campbell_df_12.csv")

In [ ]:
simple_monthly_campbell_df_24.to_csv("../../../../Development/econ985/campbell_data/simple_monthly_campbell_df_24.csv")

In [ ]:
simple_monthly_campbell_df_36.to_csv("../../../../Development/econ985/campbell_data/simple_monthly_campbell_df_36.csv")

In [ ]:
simple_quarterly_campbell_df_6.to_csv("../../../../Development/econ985/campbell_data/simple_quarterly_campbell_df_6.csv")

In [ ]:
simple_quarterly_campbell_df_12.to_csv("../../../../Development/econ985/campbell_data/simple_quarterly_campbell_df_12.csv")

In [ ]:
simple_quarterly_campbell_df_24.to_csv("../../../../Development/econ985/campbell_data/simple_quarterly_campbell_df_24.csv")

In [ ]:
simple_quarterly_campbell_df_36.to_csv("../../../../Development/econ985/campbell_data/simple_quarterly_campbell_df_36.csv")

In [ ]:
simple_annual_campbell_df_12.to_csv("../../../../Development/econ985/campbell_data/simple_annual_campbell_df_12.csv")

In [ ]:
simple_annual_campbell_df_24.to_csv("../../../../Development/econ985/campbell_data/simple_annual_campbell_df_24.csv")

In [ ]:
simple_annual_campbell_df_36.to_csv("../../../../Development/econ985/campbell_data/simple_annual_campbell_df_36.csv")